.heightAdjust{
    height: fit-content;
}
td {
    padding: 0px 7px !important;
    border: 1px solid #ddd !important;
}
tbody, td, tfoot, th, thead, tr {
    /* border-color: inherit;
    border-style: solid;
    border-width: 0; */
    font-size: 12px !important;
    height: auto !important;
    line-height: normal;
    padding: 10px;
    
}
th{
    border:1px solid #ddd;
}


td select {
    padding: 0 !important;
    border: none !important;
}
td textarea {
    /* padding: 0 !important; */
    border: none !important;
}
.save:disabled,
.save[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
.rematkText 
{
    display: -webkit-box;
    max-width: 100%;
    text-align: left;
    line-height: 1.5;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    max-width: 100px;
}