@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.container,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    max-width: 96% !important;
}

.cmpy-list-body {
    overflow-y: auto !important;
    height: 75vh;
}
.booking-details-body{
    overflow-y: auto !important;
    overflow-x: hidden !important;
    height: 80vh;
}

.time,
.bookingdate {
    font-size: 12px;
    color: #6a6a6a;
}

.p-booking-Cname {
    justify-content: space-between;
}

.p-booking-Cname h4 {
    text-transform: capitalize;
    display: -webkit-box;
    line-height: 1.5;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    white-space: 'nowrap';
    text-overflow: ellipsis;
    /* font-weight: 400;
    font-family: "Noto Sans", sans-serif; */
}

.cmpy-dash-header,
.cmpy-d-header {
    justify-content: space-between;
    margin-top: 20px;
}

.cmpy-dash-header h3 {
    margin-bottom: -20px !important;
    margin-left: 51px !important;

}

.cmpy-d-header {
    margin-left: 35px !important;
}

.cmpy-d-body {
    overflow-y: auto !important;
    height:auto;
    width: 100%;


}

.cmpy-d-button {
    margin-right: 100px !important;
    margin-bottom: 14px;
}

.search-date-header {
    display: flex;
    flex-direction: column;
    padding: 10px 6px !important;
}

.search-date {
    display: flex;
    width: 97% !important;
    margin-top: 16px;

}

.search-date input {
    font-size: 14px;
    margin: 0px 10px;
}

.list-group-item {
    padding: 2px 10px !important;
}

.bookings-form {
    margin-top: -24px !important;
    margin-right: 71px;
    margin-left: 40px;
}

.bdesection{
    text-align: justify;
}

.booking-fields-view
{

}
.fields-view-title
{
    font-size: 12px;
}
.fields-view-value {
    background: #eee;
    padding: 4px 4px 4px 7px;
    margin: 5px 0px 5px 0;
    border-radius: 3px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.custom-image-div{
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    width: 62%;
    /* justify-content: space-around; */
    gap: 3px;
    text-transform: capitalize;
    font-size: 11px;
    text-wrap: wrap;
    overflow: hidden;
    font-weight: 500;
    border: 0.5px solid lightgrey;
    font-family: unset;
    color: #322e2e;
    
}

.download-attachments{
    width: 100%;
    /* margin-top: 20px; */
    background-color: #dfdada;
    height: 26px;
    overflow: hidden;
    margin-top: -32px;
}
.pdf-div{
    background-color: #e25353;
    width: 20px;
    height: 15px;
    border: 0px solid transparent;
    border-radius: 1px;
    margin-left: 4%;
    margin-right: 5%;
    font-size: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.copy-alert {
    position: absolute;
    top: 20%;
    right: 50%;
    background-color: #3d3e3d;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 10px;
    animation: fadeOut 2s ease-in-out;
  }
  
  @keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
  }

.popup{
    width: 50vh;
    height: 50vh;
    background-color: #fffdfd;
    /* top: 50%; */
    right: 50%;
    position: absolute;
    border: 1px solid transparent;
    display: flex;
    align-items: start;
    justify-content: center;
}
/* .column-width-reciept{
  margin-left:-30px;
  margin-right:-30px;
} */
  .pagination {
    display: flex;
    list-style: none;
    padding: 0;
  }
  
  /* .page-item {
    margin-right: 5px;
  } */
  
  .page-link {
    min-width: 1.2rem !important;
    display: block;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    text-decoration: none;
    cursor: pointer;
  }
  
  .page-link:hover {
    background-color: #f0f0f0;
  }
  .li-ellipsis{
    margin-top: 5px;
    margin-right: 5px;
  }

  #searchServices{
    border: 0px solid transparent !important;
    display: flex;
    align-items: center;
    justify-content: space-between !important;
    width: 100%;
  }
   /* .css-13cymwt-control{
      border-color: #fbb900;
      justify-content: space-between;
  }  */

  .rdrMonth {
    width: 21.667em !important;
}
.rdrDateRangePickerWrapper {
    width: 119px;
    /* margin-top: 5px; */
    padding: 0px !important;
    height: 320px;
    margin-left: 50px;
}
.rdrDefinedRangesWrapper {
    font-size: 10px;
    height: 340px;
    display:none;
}
.firstClass{
    transition: transform 0.2s ease-in , box-shadow 0.2s ease-in-out;
    overflow: hidden;
    display: inline-block;
    background-color: #fbb900;
    color: white ;
    box-shadow: 0px 0px 5px #e0d9d9
}
.firstClass:hover{
    box-shadow: 0px 0px 15px 5px rgba(251, 185, 0, 0.7); /* Adjust the values as needed */
    transform: translateY(-10px);
}
/* .secondClass{
    display: flex;
    align-items: center;
    justify-content: center;
} */
.numbers {
    display: inline-block; /* Ensure it behaves like an inline element */
    width: -moz-fit-content;
    width: fit-content;
    padding: 10px 10px;
    color: black;
    border-radius: 50%; /* Make it a circle */
    font-size: 17px;
}
.viewDetails{
    color: #207dc8;
    background-color: white;
    cursor: pointer;
}
.viewDetails:hover{
    text-decoration: underline;
    cursor: pointer;
}
.subheaderNew{
    font-size: 13px;
    color: black;
    text-transform: capitalize;
    backgrouund-color: grey;
    background-color: #f1f1f1;
    border-radius: 10px;
    padding: 2px 13px;
}
.detailservices{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 6px ;
}
.serviceCount{
    border: 0px solid black;
    padding: 3px 1px 3px 13px;
    border-radius: 15px;
    background-color: #eaedf6;
    width: 90%;
    font-size: 12px;
    box-shadow: 0px 2px lightgrey;
}
.count{
    border: 1px solid #dbdbdb;
    border-radius: 15px;
    padding: 5px 1px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 2px lightgrey;
}

/* ---------------------------------analysis dashboard------------------------------------------- */

.sidebar{
    width:200px;
    height:85vh;
    overflow: auto;
}