.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 96%!important;
}
.time,.bookingdate
{
    font-size: 12px;
    color: #6a6a6a;
}
.p-booking-Cname h3{
    text-transform: capitalize;
}
.cmpy-d-b{
    overflow-x: none;
    overflow-y: auto !important;
    height: 500px;
    width: 100%;
}
.cmpy-d-b-datagrid{
    margin-top:20px;
    margin-left: 20px;
    margin-right: -62px;
}
.cmpy-d-b-datagriditem{
    padding: 20px;
}