.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 96%!important;
}
.time,.bookingdate
{
    font-size: 12px;
    color: #6a6a6a;
}
.p-booking-Cname h3{
    text-transform: capitalize;
}
.cmpy-d-b{
    overflow: auto !important;
}
.cmpy-d-b-datagrid{
    margin:20px;
}