/node_modules
/PaymentReceipts
/ExtraDocs
/Document
/package.json
/package-lock.json
/BookingsDocument
/GeneratedDocs
/helpers/googlesheet
/ClientDocuments
/Client-GeneratedDocs
/Client
/Payment-Request
/EmployeeImages
/EmployeeDocs