.sales-nav-tabs .sales-nav-item .nav-link.active {
    color: #ffffff !important;
    border: 1px solid #43474c !important;
    background: #43474c !important;
}
.sales-nav-tabs .sales-nav-item .nav-link 
{
    padding: 8px 10px !important;
}
.sales-nav-tabs .sales-nav-item .nav-link .no_badge
{
    text-align: center;
    width: -moz-fit-content;
    width: fit-content;
    padding: 5px 6px;
    color: #efad00;
    background: #fff4d6;
    margin-left: 8px;
    font-weight: bold;
    font-size: 10px;
    border-radius: 5px;
    line-height: 10px;
    min-width: 26px;
}
.e-Leadtable-style
{
    border-image: initial;
    border-radius: 0 0 10px 10px;
    overflow-y: auto;
    padding: 0 0px;
}
.e-Leadtable-style table thead tr {
    background: #43474c !important;
    border: none !important;
    position: sticky;
    top: 0;
}
.e-Leadtable-style table 
{       
    border-collapse: separate;
    border-spacing: 0px;
}
.e-Leadtable-style table thead tr th
{
    background: #43474c !important;
    color: #e4e4e4;
    border: none;
    position: sticky;
    top: 0;
}
.e-Leadtable-style td{
    border: none !important;
}
.e-Leadtable-style table tbody tr td {
    padding: 4px 8px 4px 8px !important;
    transition: .5s;
    border-right: 1px solid #eee !important;;
    border-bottom: 1px solid #eee !important;;
}
.e-Leadtable-style .status__btn {
    border: none;
    padding: 3px 8px 3px 8px;
    background: transparent;
    width: 100% !important;
    font-size: 10px;
    box-shadow: 0px 2px 5px #0000001A;
    border-radius: 4px;
}
.sales-panels-main .e-Leadtable-style
{
    height: calc(100vh - 270px) !important;
}
.e-Leadtable-style table tbody tr {
    background: #fff;
    transition: .5s;
    border: 1px solid #eee !important;
}
.sales-panels-main .pagination
{
    width: 100%;
    background: #fff;
    padding: 6px;
    border: 1px solid #eee;
    border-radius: 5px;
}
.sales-panels-main .btn-pagination
{
    width: 25px;
    height: 25px;
    line-height: 8px;
    font-size: 15px;
    border-radius: 100px;
    border: 1px solid #c3c3c3;
    background: #ececec;
    padding: 0px !important;
    cursor: pointer;
}
.sales-panels-main .rm-sticky-left-1 {
    position: sticky;
    left: 0;
    width: 66px;
    z-index: 1;
}
.sales-panels-main .rm-sticky-left-2 {
    position: sticky;
    left: 66px;
    box-shadow: 3px 0px 4px -4px #cccccc !important;
    z-index: 1;
}
.sales-panels-main table tbody tr td:nth-child(2),.sales-panels-main table tbody tr td:nth-child(1), .sales-panels-main table tbody tr td:last-child 
{
    background: #fff !important;
    z-index: 1;
}
/* .sales-panels-main table
{
    width: max-content !important;
} */
.sales-panels-main .dfault_interested-status {
    background-color: #a3ffd8;
    border: 1px solid #35c286;
    padding: 3px 8px 3px 8px;
    border-radius: 4px;
    font-size: 10px;
    box-shadow: 0px 2px 5px #0000001A;
    font-weight: 600;
    line-height: 16px;
    width: 100%;
}
.sales-panels-main .dfault_approved-status
{
    background-color: #7ee48c;
    border: 1px solid #1cbd27;
    padding: 3px 8px 3px 8px;
    border-radius: 4px;
    font-size: 10px;
    box-shadow: 0px 2px 5px #0000001A;
    font-weight: 600;
    line-height: 16px;
    width: 100%;
}
.sales-panels-main .dfault_followup-status
{
    background-color: #ffe1ed;
    border: 1px solid #f393ba;
    padding: 3px 8px 3px 8px;
    border-radius: 4px;
    font-size: 10px;
    box-shadow: 0px 2px 5px #0000001A;
    font-weight: 600;
    line-height: 16px;
    width: 100%;
}
.int-accordion-item
{
    margin: 10px 0px;
    border-radius: 3px !important;
    border: 1px solid #eee !important;
    background: #f8f8f8;
}
.int-accordion-item .accordion-header
{
    padding: 0px 6px 0 8px !important;
}
.int-accordion-item .form-group label
{
    text-align: left;
}
.class
{
    position: relative;
}
/**********Company Profile Css**********/
.CompanyProfileMain
{
    height: calc(100vh - 114px);
    background: #fafafa;
    overflow: auto;
}
.CompanyProfileHead
{
    padding: 10px 0;
}
.Cmpny-pH-logo
{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    font-family: "Public Sans", sans-serif;
    line-height: 1;
    border-radius: 5px;
    overflow: hidden;
    -webkit-user-select: none;
    user-select: none;
    font-size: 1rem;
    color: rgb(255 187 0);
    background: rgb(255 251 239);
    width: 65px;
    height: 65px;
    border: 1px dashed;
    padding: 12px;
    margin-right: 12px;
}
.Cmpny-pH-logo img {
    width: 100%;
    height: 100%;
    text-align: center;
    object-fit: cover;
    color: transparent;
    text-indent: 10000px;
}
.CPH_subdtl
{
    margin-top: 6px;
    margin-right: 6px;
    padding: 2px 5px;
    background: #f5f5f5;
    border-radius: 2px;
}
.CPH_subdtl p
{
    font-size: 10px;
    font-weight: 400;
    color: #68758f;
}
.CPH_subdtl p span
{
    color: #30343b;
}
.CompanyProfileAccordi .accordion-item
{
    margin: 10px 0px;
    border-radius: 15px;
    border: 1px solid #eee !important;
    background: #fff;
}
.CompanyProfileAccordi .accordion-button
{
    padding: 6px 10px !important;
    font-size: 12px;
    font-weight: 500;
}
.CompanyProfileAccordi .accordion-button:after {
    opacity: .7;
    background-size: 12px  !important;
    background-position: center !important;
}
.CompanyProfileAccordi .accordion-body
{
    border-top: 1px solid #eee;
    padding: 10px 10px !important;
}
.CPaccordi_Dtl_inner_left
{
    font-size: 12px;
}
.CPaccordi_Dtl_inner_right
{
    font-size: 12px;
    font-weight: 500;
}
.cmpnyP_nav_tabs
{
    border-bottom: 1px solid #eee !important;
    width: 100%;
    font-size: 13px;
    margin: 0 0 0 0;
}
.cmpnyP_nav_tabs .nav-item .nav-link
{
    border: 1px solid #eee0 !important;
    font-weight: 600;
}
.cmpnyP_nav_tabs .nav-item .nav-link.active
{
    border-bottom: 1px solid #ffb900 !important;
    color: #ffb900 !important;
    background: #fff;
}
.rm_status_dropdown
{
    width: 100%;
}
.History_Timeline_Main
{
    height: calc(100vh - 285px);
    background: #fafafa;
    padding: 10px;
    border-radius: 5px;
    overflow-y: auto;
    margin: 10px 0;
}
.Overview_Main
{
    height: calc(100vh - 316px);
    background: #f6f6f6;
    padding: 10px;
    border-radius: 5px;
    overflow-y: auto;
    margin: 10px 0;
}
.History_Timeline
{
    padding: 0px 0;
}
.History_Timeline_item
{
    position: relative;
    padding: 2px 0 15px 0;
}
.History_Timeline_item_l
{
    background: #fff0c4;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    color: #d28412;
    margin-right: 12px;
    z-index: 1;
    border: 2px solid #fafafa;
}
.History_Timeline_item_r
{
    width: calc(100% - 50px);
    height: fit-content;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 10px;
}
.History_Timeline_item::before {
    position: absolute;
    content: "";    
    height: 100%;
    width: 1px;
    background: #c8d4da;
    top: 4px;
    left: 20px;
    z-index: 0;
}
.History_Timeline_item:last-child::before
{
    position: absolute;
    content: "";
    height: 100%;
    width: 1px;
    background: #c8d4da00;
    top: 4px;
    left: 15px;
    z-index: 0;
}
.Timeline_item_main_sentance p
{ 
    font-size: 12px;
    font-weight: 400;
}
.Timeline_item_main_date p
{
    font-size: 12px;
    font-weight: 400;
    color: #ababab;
}
.per-icon
{
    font-size: 15px;
    line-height: 4px;
    margin-right: 2px;
    color: #818181;
}
.per-name
{
    font-size: 12px;
    color: #818181;
}
.Overview_Main .booking_inner_dtl_h, .Overview_Main .booking_inner_dtl_b 
{
    font-size: 10px !important;
}
.Overoviewbkngbtn
{
    padding: 3px 8px;
    font-size: 11px;
    border-radius: 4px;
    font-weight: 400;
    background: #f6f6f6;
    border: none;
}
.Overoviewbkngbtn.active
{
    font-weight: 500 !IMPORTANT;
    background: #ffdb6e !important;
    color: #30343b;
}
.cmpnyP_nav_main
{
    padding: 5px;
    border: 1px solid #eeee;
    border-radius: 15px;
    background: #fff;
    margin-top: 10px;
}
.cmpny-docs-card
{
    border: 1px solid #eeee;
    border-radius: 15px;
    background: #fff;
    margin-top: 10px;
    overflow: hidden;
}
.cmpny-docs-card-head
{
    padding: 12px;
    font-size: 12px;
    font-weight: 600;
    border-bottom: 1px solid #eee;
}
.cmpny-docs-card-body 
{
    padding: 12px;
}

.q-modal
{
    background: #ffc107 !important;
    padding: 30px 0px;
}
.que-main
{
    background-color: white;
    width: 80%;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    position: relative;
    rotate: -2deg;
    z-index: 2;
}
.question-number {
    position: absolute;
    top: 0px;
    background-color: #7258d1;
    color: white;
    font-size: 23px;
    font-weight: bold;
    padding: 5px 16px;
    border-radius: 4px;
    width: 84px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    rotate: 2deg;
  }
  
  .question-text {
    font-size: 1.5em;
    color: #7258d1; /* Dark gray text */
    margin: 14px 10px;
    font-weight: bold;
    rotate: 2deg;
  }

.que-main::before
{
    width: 50px;
    height: 50px;
    position: absolute;
    content: "";
    background: #30343b00;
    border-top: 3px solid #7258d1;
    border-right: 3px solid #7258d1;
    border-radius: 0 10px 0 0;
    right: -10px;
    top: -9px;
}
.que-main::after
{
    width: 50px;
    height: 50px;
    position: absolute;
    content: "";
    background: #30343b00;
    border-bottom: 3px solid #7258d1;
    border-left: 3px solid #7258d1;
    border-radius: 0 0 0 10px;
    left: -10px;
    bottom: -12px;
}
.option-main
{
    width: 80%;
    background: #7258d1;
    padding: 16px 20px;
    border-radius: 4px;
    font-weight: bold;
    color: #fff;
    rotate: -2deg;
    position: relative;
}
.option-text
{
    letter-spacing: 1px;
    rotate: 2deg;
}
.opt-row
{
    margin: 60px auto 0;
    width: 80%;
}
.option-main::before
{
    width: 25px;
    height: 25px;
    position: absolute;
    content: "";
    background: #30343b00;
    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
    border-radius: 0 6px 0 0;
    right: -9px;
    top: -10px;
}

.option-main::after
{
    width: 25px;
    height: 25px;
    position: absolute;
    content: "";
    background: #30343b00;
    border-left: 3px solid #fff;
    border-bottom: 3px solid #fff;
    border-radius: 0 0 0 6px;
    left: -9px;
    bottom: -10px;
}
/*---------*/
.admin-dash-card
{
    width: 100%;
    background: #fff;
    border-radius: 30px;
    box-shadow: 1px 1px 14px -10px #ccc;
    overflow: hidden;
}
.admin-dash-card-head
{
    padding: 12px 20px;
}
.adch-name
{
    font-size: 16px;
    font-weight: 500;
    color: #373147;

}
.S-admin-dashboard .dash-select-filter .my-filter-select {
    font-size: 12px;
    padding: 3px 3px 3px 10px;
    border-radius: 22px !important;
    width: 104px;
    margin-top: 4px;
    background-position: right 7px center;
    background-size: 8px 11px;
    background-color: #FFF7E5;
    border: none !important;
    color: #ffb900;
}
.admin-dash-card-body
{
    padding: 0px 20px;
}
.sadmin-inner-card
{
  border: 1px solid #eee;
  border-radius: 15px;
  background: #f9f9f9;
}
.sadmin-innercard-head
{
  padding: 10px 10px 10px 10px;
  font-size: 12px;
  font-weight: 500;
}
.sadmin-innercard-head p
{
    color: #898e94;
}
.sadmin-innercard-body
{
  padding: 0px 10px 10px 10px;
  font-size: 18px;
  font-weight: 500;
} 
.sa_inCard_icon
{
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 100px;
    font-size: 20px;
    border: 1px solid #eee;
}
.admin-total-bkng-card
{
    width: 100%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 1px 1px 14px -10px #ccc;
    padding: 6px 0px;
    border-bottom: 1px solid #eee;
}
.admin-total-bkng-card-icon
{
    font-size: 16px;
    line-height: 15px;
}
.admin-total-bkng-card-text
{
    color: #898e94;
    font-weight: 500;
    font-size: 12px;
    margin-left: 5px;
}
.admin-total-bkng-card-data
{
    font-size: 18px;
    font-weight: 500;
}
.admin-total-bkng-card:last-child
{
    border-bottom: none;
}
.admin-dashbanknameh p
{
    margin: 0;
    font-size: 12px;
    font-weight: 500;
    color:#ccc
}
.admin-dashbankrevenueh p
{
    margin: 0;
    font-size: 12px;
    font-weight: 500;
    color:#ccc
}
.Sadmin_bank_dtl_card
{
    margin: 2px 0;
    padding: 10px 15px;
    background: #f6f6f6;
    border-radius: 50px;
}
.bankicon
{
    width: 16px;
    line-height: 10px;
}
.bankname
{
    font-size: 12px;
    font-weight: 500;
    color: #43474c; 
    margin-left: 10px;
}
.bankmoney
{
    font-weight: 500;
    color: #5a5a5a;
}
.admin-dash-card-footer
{
    padding: 10px 20px;
    border-top: 1px solid #f6ecd6;
    background: #fff;
}
.grand_ttl
{
    width: 100%;
    padding: 0 10px;
}
.grand_ttl_text
{
    font-size: 13px;
    font-weight: 500;
}
.grand_ttl_no
{
    font-size: 16px;
    font-weight: bold;
    color: #FF9800;
}
/**************************************************************/


.Chat_sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 99999;
    top: 0;
    right: 0;
    transition: 0.5s;
}
.Chat-sideinner
{
    height: calc(100vh - 130px);
    margin-top: 130px;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border-left: 1px solid #dadfe5;
    border-top: 1px solid #dadfe5;
    box-shadow: -5px -2px 16px -7px #ccc;
    background: rgb(255 255 255 / 50%);
    border-radius: 18px 0 0 0;
}  
.Chatbutton
{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    background-color: #FF9800;
    color: #fff;
    font-size: 20px;
    position: absolute;
    left: -60px;
    bottom: 20px;
    box-shadow: 1px 1px 6px 1px #ccc;
}
.Chat-sideinner-head
{
    padding: 10px 15px 10px 15px;
    border-bottom: 1px solid #eee;
    font-size: 16px;
}
.Chat-sideinner-footer
{
    border-top: 1px solid #eee;
}
.notfctn_no
{   
    background: #F44336;
    color: #fff;
    font-size: 8px;
    margin-left: 5px;
    padding: 1px 4px;
    border-radius: 10px;
}
.side-chat-screen
{
    height: calc((100vh - 112px) - 149px);
    overflow: auto;
    padding: 15px;
}
.chat-profile-icon
{
    height: 30px;
    margin-right: 12px;
    width: 30px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(204, 204, 204);
    border-image: initial;
    border-radius: 100px;
    position: relative;
}
.chat-profile-icon img
{
    color: rgba(0, 0, 0, 0);
    height: 100%;
    object-fit: contain;
    object-position: center top;
    text-indent: 10000px;
    transform: scale(1.2);
    transform-origin: center center;
    width: 100%;
    background: rgb(189, 189, 189);
    border-radius: 20px;
    transition: 0.5s;
}
.chat-profile-icon .on
{
    position: absolute;
    bottom: -1px;
    background-color: #00c600;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    right: -5px;
}
.chat-details
{
    width: calc(100% - 42px);
}
.chat-details-head-name
{
    line-height: 14px;
}
.chat-details-head-name p
{
    font-size: 12px;
}
.chat-details-head-name label
{
    font-size: 10px;
    font-weight: 500;
    color: #5a5a5a;
}
.chat-details-head-time
{
    font-size: 10px;
    font-weight: 500;
    color: #959595;
}
.chat-details-body
{
    font-size: 12px;
    border-radius: 0px 15px 15px 15px;
    padding: 10px 15px;
    margin: 10px 0;
    color: #767481;
    box-shadow: 2px 2px 16px -4px #ccc;
    backdrop-filter: blur(20px);
    background: rgb(255 255 255 / 79%);
}
.chat-details-body p
{
    margin: 0px;
}
.chat-item
{
    border-bottom: 1px solid #eee;
    padding: 8px 0 6px 0;
}
.chat-item:first-child
{
    padding: 0 0 6px 0;
}
.chat-item:last-child
{
    border-bottom:none
}
.chattextbox
{
    width: calc(100% - 50px);
}
.chattextbox input
{
    border: none;
    height: 100%;
    width: 100%;
    padding: 4px 15px;
}
.chatsendbtn button
{
    border: none;
    width: 50px;
    height: 50px;
    background: #FFC107;
    color: #fff;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}