body {
  margin: 0;
  overflow: overlay;
}

.page-wrapper {
  display: flex;
  flex: 1 1;
  flex-direction: column;
  height: calc(100vh - 112px) !important;
  overflow: hidden !important;
  overflow-y: scroll !important;
  position: relative;
} 

.pl-1 {
  padding-left: 10px;
}

.pr-1 {
  padding-right: 10px;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #eee transparent;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  height: 10px;
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

*::-webkit-scrollbar-thumb {
  background-color: #ffb900;
  border-radius: 10px;
  border: 3px solid #ffffff;
}

/* Track */
*::-webkit-scrollbar-track {
  background: #f1f1f1 !important;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: #ffb900 !important;
}


.form-check-input:checked {
  background-color: #ffb900 !important;
}

.swal2-container {
  z-index: 10000000 !important;
}

.btn-primary {
  --tblr-btn-bg: #ffb900 !important;
  ;
  --tblr-btn-hover-color: #ffb900 !important;
  ;
}

.btn-primary:hover {
  background-color: #f6df9f !important;
}

.rupees-sym {
  background-color: #ffb900;
  display: flex;
  align-items: center;
  padding: 0px 20px;
  border-radius: 0px 5px 5px 0px;
}
/* 
.css-13cymwt-control {
  border: 1px solid #ffb900 !important;

} */

#resizableColumn {
  width: 200px;
  /* Initial width of the resizable column */
}

.hr-1 {
  width: 100%;
  height: 1px;
  background: #ccc;
  margin: 10px 0px;
}

.hr-2 {
  width: 100%;
  height: 1px;
  background: #e4e4e4;
  margin: 9px 0px;
}

.cont-info {
  margin: 0px 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.timing {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

th {

  font-weight: 500;
}

.admin-dashboard .head-select {
  border: none !important;
  background-position: right 7px center;
  background-size: 16px 24px;
  padding: 0 30px 0px 0;
  font-size: 1.25rem;
  font-weight: 500;
}

.admin-dashboard .head-select:focus {
  box-shadow: none !important;
}

.form-control {
  /* border: 1px solid #ffb900 !important; */
  border: 1px solid #dadfe5 !important;
}

.form-select {
  /* border: 1px solid #ffb900 !important; */
  border: 1px solid #dadfe5 !important;
}

.admin-dashboard .form-select,
.admin-dashboard .form-control {
  border-radius: 7px !important;
  border: 1px solid #dce0e5 !important;
}

.swal2-container {
  z-index: 10000000 !important;
}

.btn-primary {
  --tblr-btn-bg: #ffb900 !important;
  ;
  --tblr-btn-hover-color: #ffb900 !important;
  ;
}

.btn-primary:hover {
  background-color: #f6df9f !important;
}
.My-Avtar
{
  border: 1px solid #ccc;
}
.My-Avtar img
{
  width: 100%;
  height: 100%;
  text-align: center;
  object-fit: cover;
  color: transparent;
  object-fit: contain;
  object-position: center top;
  position: relative;
  transition: 0.5s;
  transform-origin: center center;
  text-indent: 10000px;
  background: #ccc;
  transform: scale(1.2);
}

.rupees-sym {
  background-color: #ffb900;
  display: flex;
  align-items: center;
  padding: 0px 20px;
  border-radius: 0px 5px 5px 0px;
}

.hr-1 {
  width: 100%;
  height: 1px;
  background: #ccc;
  margin: 10px 0px;
}

.hr-2 {
  width: 100%;
  height: 1px;
  background: #e4e4e4;
  margin: 9px 0px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.form-control:focus,
.form-select:focus {
  color: inherit;
  background-color: var(--tblr-bg-forms);
  border-color: #dee8b5 !important;
  outline: 0;
  box-shadow: 0 0 transparent, 0 0 7px -2px #b6b6b6 !important;
}

.details-payment .form-hint {
  background: #e7e7e7;
  padding: 2px 8px;
  margin: 4px 0;
  color: rgb(63, 66, 21);
  display: inline-block;
  border-radius: 4px;
}

.uploaded-filename-main {
  padding: 4px 8px;
  border-radius: 4px;
  background: #fff;

}

.uploaded-fileItem {
  margin-right: 8px;
  background: #fff3d2;
  font-size: 10px;
  padding: 2px 6px;
  border-radius: 5px;
  margin-bottom: 3px;
  margin-top: 3px;
}

.fileItem-dlt-btn {
  width: 18px;
  height: 18px;
  line-height: 9px;
  text-align: center;
  border-radius: 100px;
  margin-left: 6px;
  background: #ffb4b4;
  border: none;
  padding: 0;
}

.close-icon {
  height: 10px !important;
  width: auto !important;
}

.error-border:focus {
  color: inherit;
  background-color: var(--tblr-bg-forms);
  border-color: #d66c6c !important;
  outline: 0;
  box-shadow: 0 0 transparent, 0 0 7px -2px #595959 !important;
}

.error-border {
  color: inherit;
  border-color: #d66c6c !important;
  outline: 0;
  box-shadow: 0 0 transparent, 0 0 7px -2px #ffb6b6 !important;
}

.item-act {
  background-color: #f2f2f2 !important;
}

.item-act-noti {
  background-color: #f2f2f2 !important;
  color: #ff8080 !important ;
font-weight:bold !important;
 border: 1px solid #ffb0b0 !important;
background-color: #ffdede !important;
}
.item-act2-noti {
  color: #48ee67 !important;
  font-weight: bold !important;
  border: 1px solid #b6febe !important;
  background-color: #e7ffde !important;
}
.item-act3-noti {
  color: #4299e1 !important;
  font-weight: bold !important;
  border: 1px solid #63a6de !important;
  background-color: #cce8ff !important;
}
.item-act4-noti {
  color: #ffb900 !important;
  font-weight: bold !important;
  border: 1px solid #ffdd84 !important;
  background-color: #ffefc6 !important;
}
.item-act5-noti{
  color: #07dcf7 !important;
  font-weight: bold !important;
  border: 1px solid #84ffdc !important;
  background-color: #d7fff4 !important;
}

select:focus,
input:focus,
textarea:focus {
  outline: none !important;
}

.editField {
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 9;
  cursor: pointer;
  color: #ffb900;
}

.RemarkCard {
  padding: 8px 12px;
  margin: 0px 0px 12px 0px;
  border: 1px solid #fff1cb;
  box-shadow: 1px 1px 5px -4px #ffb900;
  border-radius: 9px;
  background: #fffde9;
}

.reamrk-card-innerText {
  text-transform: capitalize;
  color: #000;
  max-width: calc(100% - 30px);
  /* Adjust the value based on the width of the delete icon */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-dateTime {
  font-size: 10px;
  margin-top: 16px;
  color: #826607;
}

.dlticon svg {
  width: 14px !important;
}

.dlticon {
  width: 20px;
  height: 20px;
  border-radius: 150px;
  background: #ffd7d7;
  display: flex;
  align-items: center;
  justify-content: center;
}

.remarks-content {
  max-height: 236px;
  overflow-y: scroll !important;
  margin: 0px 0px 22px 0;
  cursor: pointer;
  padding: 12px 12px 12px 12px;
  background: #fbfbfb;
  border-radius: 10px;
  border: 1px solid #eee;
}

a {
  text-decoration: none;
}

.container,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  max-width: 96% !important;
}

tr:hover {
  background: #eee;
}

tr:focus {
  background: #eee;
}

.tr-sticky {
  position: sticky;
  top: -1px;
  z-index: 99;
  background: #f2f2f2;
}

.th-sticky {
  position: sticky;
  left: 0px;
  top: 0px;
  z-index: 99;
  border-right: 1px solid #eee !important;
  /* box-shadow: 1px 1px 10px 42px #000 !important; */
  background: #f2f2f2;
}

.tf-sticky {
  position: sticky;
  bottom: -1px;
  z-index: 99;
  background: #f2f2f2;
}

.th-sticky1 {
  position: sticky;
  left: 52px;
  top: 0px;
  z-index: 99;
  border-right: 1px solid #eee !important;
  /* box-shadow: 1px 1px 10px 42px #000 !important; */
  background: #f2f2f2;
}

.td-sticky {
  position: sticky;
  left: 0px;
  top: auto;
  z-index: 98;
  background: white;
  border-right: 1px solid #eee !important;
  /* box-shadow: 1px 1px 10px 42px #000 !important; */
}

.td-sticky1 {
  position: sticky;
  left: 52px;
  top: auto;
  z-index: 98;
  background: white;
  border-right: 1px solid #eee !important;
  /* box-shadow: 1px 1px 10px 42px #000 !important; */
}

tr:hover .td-sticky {
  background: #eee;
  z-index: 98;
}

tr:hover .td-sticky1 {
  background: #eee;
  z-index: 98;
}

.pagination button {
  padding: 0px 0px 5px 0px;

}

pre {
  background: none !important;
  color: #000 !important;
  font-size: 14px;
  padding: 0px;
}

.no_badge {
  width: -moz-fit-content;
  width: fit-content;
  padding: 2px 5px;
  color: #efad00;
  background: #fff4d6;
  margin-left: 8px;
  font-weight: bold;
  font-size: 10px;
  border-radius: 100px;
}

.page-title {
  font-weight: 500;
}

th {
  font-weight: 500 !important;
  padding: 7px 10px !important;
}

.p-0 {
  padding: 0px !important;
}

.login-card {
  width: 800px;
  margin: 0 auto;
}

.login-card .card {
  border: none;
  border-radius: 0px !important;
}

span.input-group-text {
  padding: 0px 9px !important;
  /* border: 1px solid #ffb900;
  background: #ffb900 !important; */
  color: #000 !important;
}

.login-box {
  border-left: 1px solid #eee
}

.my-tab .nav-fill .nav-item .nav-link {
  justify-content: space-between;
  padding: 4px 10px;
  color: #494949;
  font-weight: 600;
  border: 1px solid #eee;
}

.nav-link.active {
  color: #000 !important;
  border: 1px solid #dddddd !important;
}

/* .page-wrapper .page-header
{
    margin: 10px 0px 0px 0px !important;
} */
.page-body {
  margin: 10px 0px 0px 0px !important;
}

.NoData {
  padding: 100px;
}

.No {
  width: 100%;
  text-align: center;
}

.noDataImg {
  width: 70px;
  margin: 20px 0px;
}

.NoDataText {
  font-weight: bold;
  font-size: 18px;
  color: #505050;
}

.particular:hover {
  background-color: white !important;
}

.particular:focus {
  background-color: white !important;
}

.request-list {
  border-bottom: 1px solid #ccc !important;
}




.notification-box {
  /* Add your styles for the notification box */
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.notification-item {
  /* Add your styles for individual notification items */
  margin-bottom: 5px;
}

.selected {
  background: #fff9e8;
  color: #000;
}

.mr-2 {
  margin-right: 20px;
}

.mr-1 {
  margin-right: 10px;
}

.mr-3 {
  margin-right: 30px;
}

.ml-2 {
  margin-left: 20px;
}

.ml-1 {
  margin-left: 10px;
}

.ml-3 {
  margin-left: 30px;
}


td.td-sticky1::after,
td.td-sticky::after,
th.th-sticky::after,
th.th-sticky1::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-right: 1px solid #ddd !important;
}


.css-1yxmbwk {
  padding: 6px !important;
}

.recent-updates {
  height: 50vh;
  overflow-y: scroll;
}

.update-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 1px 2px 1px #ccc;
  margin-bottom: 5px;
}

.wrapper {
  width: 330px;
  font-family: 'Helvetica';
  font-size: 14px;
}

.StepProgress {
  position: relative;
  padding-left: 129px;
  list-style: none;
}

.StepProgress::before {
  display: inline-block;
  content: '';
  position: absolute;
  top: 0;
  left: 100.2px;
  width: 10px;
  height: 100%;
  border-left: 2px solid #CCC;
}

.StepProgress-item {
  position: relative;
  counter-increment: list;
}

.StepProgress-item:not(:last-child) {
  padding-bottom: 20px;
}

.StepProgress-item::before {
  display: inline-block;
  content: '';
  position: absolute;
  left: -30px;
  height: 100%;
  width: 10px;
}

.StepProgress-item::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  left: -37px;
  width: 12px;
  height: 12px;
  border: 2px solid #CCC;
  border-radius: 50%;
  background-color: #FFF;
}

.StepProgress-item.is-done::before {
  border-left: 2px solid green;
}

.StepProgress-item.is-done::after {
  content: "✔";
  font-size: 10px;
  color: #FFF;
  text-align: center;
  border: 2px solid green;
  background-color: green;
}

.StepProgress-item.current::before {
  border-left: 2px solid green;
}

.StepProgress-item.current::after {
  content: counter(list);
  padding-top: 1px;
  width: 19px;
  height: 18px;
  top: -4px;
  left: -40px;
  font-size: 14px;
  text-align: center;
  color: green;
  border: 2px solid green;
  background-color: white;
}

.StepProgress strong {
  display: block;
}

.step-content {
  position: relative;
}

.step-date {
  position: absolute;
  left: -60px;
  top: 0;
  font-size: 12px;
  color: #999;
}

.info-label {
  margin-top: 3px;
}

.main-container {
  padding: 7px 45px 5px 45px;
}

.recent-updates {
  position: absolute;
  top: 18vh;
  right: 7vw;
  z-index: 9;
  display: none;
  transition: opacity 0.3s ease-in-out;
  /* Add transition effect */
}

.recent-updates.show {
  display: block;
  /* Show the element */
  opacity: 1;
  /* Set opacity to 1 when shown */
}

.recent-updates-icon {
  position: absolute;
  z-index: 9;
  right: 10vh;
}

/* body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #282a36;
    height: 100vh;
    color: #fff;
  } */

.otp-field {
  display: flex;
}

.otp-field input {
  width: 47px;
  font-size: 32px;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  margin: 2px;
  border: 2px solid #55525c;
  background: #21232d;
  font-weight: bold;
  color: #fff;
  outline: none;
  transition: all 0.1s;
}

.otp-field input:focus {
  border: 2px solid #a527ff;
  box-shadow: 0 0 2px 2px #a527ff6a;
}

.disabled {
  opacity: 0.5;
}

.space {
  margin-right: 1rem !important;
}

.remark-text {
  max-width: 100%;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.inco-filter {
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: absolute;
  width: 10em;
  text-align: left;
  margin-left: 100px;
  border: 1px solid #ddd;
  font-size: 14px;
  transition: all 0.3s ease;
}

.inco-filter:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.inco-subFilter {
  padding: 10px;
  color: #555;
  font-family: Arial, sans-serif;
  cursor: pointer;
  transition: all 0.3s ease;
}

.inco-subFilter:hover {
  background-color: #f0f0f0;
  color: #333;
}

.inco-filter .searchforbde input::placeholder {
  color: lightgrey;
}

.inco-filter .searchforbde input {
  color: black;
  font-size: 12px;
  font-weight: 400;
  font-family: sans-serif;
  border: none;
}


/* ----------------------------------------------styling for notification bar------------------------------------------------
   */

.notification-bar {
  border: 1px solid green;
  height: 4em;
  width: 100%;
  padding: 10px;
  margin: 10px 0px;
  border-radius: 5px;
  background-color: lightgreen;
  display: flex;
  justify-content: space-between;
}

.g-card {
  transition: .3s;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.show-time-card {
  margin-bottom: 4px;
  color: #4e884e;
  font-size: 13px;
  font-weight: bold;
}

.inco-filter .searchforbde input::placeholder {
  color: lightgrey;
}

.inco-filter .searchforbde input {
  color: black;
  font-size: 12px;
  font-weight: 400;
  font-family: sans-serif;
  border: none;
}

.compose-email {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
}

.compose-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;

  cursor: pointer;
}


.compose-popup {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 469px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.compose-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.compose-title {
  margin: 0;
}

.close-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #333;
}

.compose-input,
.compose-textarea,
.send-btn {
  display: block;
  width: calc(100% - 20px);
  margin: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 14px;
}

.compose-textarea {
  height: 40vh;
}

.send-btn {
  background-color: #fbb900;
  color: #fff;
  border: none;
  width: 84px;
  font-weight: bold;
  font-family: 'sans-serif';
}

.send-btn:hover {
  background-color: #936c00;
}

.compose-formatting,
.compose-attachments,
.compose-insert-files,
.compose-menuIcon {
  cursor: pointer;
  padding: 5px;
}

.compose-formatting:hover,
.compose-attachments:hover,
.compose-insert-files:hover,
.compose-menuIcon:hover {
  background-color: #ccc;

}

/* ------------------------------employee dashboard------------------------------------- */

.employeedashboard {
  padding: 0px;
}

.employeedashboard h2 {
  font-size: 15px;
  font-family: 'Poppins';
  margin-left: 27px;
  margin-top: 15px;
  margin-bottom: 0px;
  font-weight: 500;
}

/* .date-range-picker{
  width: 13vw;
    margin-right: 27px;
    padding: 5px 21px;
    font-size: 12px;
    height: 29px;
    margin-top: 3px;
}
.new-date-range-picker{

    margin-right: 5px;
    padding: 0px 21px;
    font-size: 12px;
    height: 71px;
    margin-top: 0px;
} */

.general-searchbar {}

/* *********************   Request BDM CARD *********************************************** */
.request-bdm-card {
  border: 1px solid #c6c6c6;
  border-radius: 14px;
  font-family: monospace;
}

.request-accept {
  width: 100%;
  border: none;
  border-radius: 0px 0px 14px 14px;
  color: green;
  background-color: rgb(162, 255, 162);
  font-weight: bold;
  transition: all 0.3s ease;
}

.request-accept:hover {
  width: 100%;
  border: none;
  border-radius: 0px 0px 14px 14px;
  color: white;
  background-color: green;
  font-weight: bold;

}

.request-reject {
  width: 50%;
  border: none;
  border-radius: 0px 0px 14px 0px;
  color: red;
  background-color: #ffc0c0;
  font-weight: bold;
  transition: all 0.3s ease;
}

.request-reject:hover {
  width: 50%;
  border: none;
  border-radius: 0px 0px 14px 0px;
  color: white;
  background-color: red;
  font-weight: bold;

}

.request-display {
  width: 100%;
  border: none;
  border-radius: 0px 0px 14px 14px;
  color: green;
  background-color: rgb(162, 255, 162);
  font-weight: bold;
  transition: all 0.3s ease;
}

.request-display:hover {
  width: 100%;
  border: none;
  border-radius: 0px 0px 14px 14px;
  color: white;
  background-color: green;
  font-weight: bold;

}

/**************** Steper Form CSS Start ************************/
.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-active,
.MuiButton-textPrimary {
  color: #ffba00 !important;
}

.steprForm-bg {
  background: #f6f8fb;
  height: calc(100vh - 230px);
  overflow-y: scroll;
}

.steprForm {
  margin: 18px auto 0px;
  border-radius: 10px;
  padding: 15px 40px;
  width: 90%;
}

.steprForm-inner {
  margin: 20px auto 6px;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}

/* .css-sghohy-MuiButtonBase-root-MuiButton-root,.css-bh137t-MuiButtonBase-root-MuiButton-root
{ 
  background-color: #ffba00 !important;
} */
.css-mjpk2e-MuiButtonBase-root-MuiStepButton-root {
  padding: 0px !important;
  margin: 0px !important;
}

.No-active {
  padding: 8px 4px !important
}

.form-tab-active {
  background: #f6f8fb !important;
  padding: 8px 4px !important
}

.css-1bw0nnu-MuiStep-root {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.css-j5w0w9-MuiStepConnector-root {
  margin-left: 8px;
}

/****************Steper Form CSS End ************************/
.css-mro3c9 {
  padding: 0px !important;
}

.css-a5nipc {
  padding-right: 5px;
}

.css-tjvuvn {
  width: auto;
  margin: 0px !important;
}

.css-4ff9q7.Mui-active {
  color: #ffba00 !important;
}

.css-11qjisw {
  margin-left: 4px !important;
}

/******************************STEPER CSS FOR LIVE*****************************/
.css-1uvydh2 {
  font-size: 12px !important;
  padding: 11px 4px 11px 11px !important;
}

.css-1tewkwq {
  padding-top: 0px !important;
}

.svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-vubbuv {
  width: 16px !important;
  height: 16px !important;
}

/********datepicker live**********/
.servicesFormCard {
  background: #f7f7f7;
  padding: 15px;
  border-radius: 10px;
  position: relative;
}

.services_No {
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 100px;
  background: #fbb900;
  text-align: center;
  font-weight: bold;
  color: #fff;
}

.input-group .btn {
  border-color: #fbb900 !important
}

.total-payment-inputs {
  width: 60%;
}

.notes {
  width: fit-content;
  padding: 4px 6px;
  background: #fcffcd;
  color: #000;
}

.form-label-name {
  border: 1px solid #ccc;
  padding: 5px 10px;
  font-size: 12px;
}

.form-label-data {
  border: 1px solid #ccc;
  padding: 5px 10px;
  font-size: 12px;
}

.h-100 {
  height: 100%;
}

.UploadDocPreview {
  text-align: center;
  padding: 10px;
  height: auto;
  width: 80px;
  background: #fff;
  border-radius: 8px;
  cursor: pointer;
  margin: 2px 8px 4px 0px;
}

.docItemImg {
  margin-bottom: 5px;
}

.docItemImg img {
  width: 40px;
}

.wrap-MyText {
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  line-height: 1.5;
  max-width: 100%;
  max-width: 100px;
  overflow: hidden;
  text-align: left;
}

.pageNotFound_Logo {
  margin: 0px auto;
  padding: 30px 0px 0px 0px;
  text-align: center;
}

.pageNotFound_Logo img {
  width: 200px;
}

.pageNotFound_main {
  background-color: #fff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.PageError {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
  display: block;
  text-align: center;
  width: 450px;
  margin: 10px auto;
}

.PageErrorImage {
  width: 100%;
  /* -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center center;
  object-position: center center;
  transform-origin: 50% 50%;
  transition: transform 0.5s ease-in-out;
  -webkit-transition: transform 0.5s ease-in-out;
  -moz-transition: transform 0.5s ease-in-out; */
}

.css-78trlr-MuiButtonBase-root-MuiIconButton-root {
  padding: 6px !important;
}

.part-payment-col {
  width: calc(100% - 95px);
}

.part-payment-plus-minus {
  margin-right: 5px;
  padding-top: 28px;
  width: 90px;
}

.LeadFormPreviewDrawar {
  position: relative;
}

.LeadFormPreviewDrawar-header {
  width: 100%;
  display: block;
  padding: 6px 14px;
  background: #fbb900;
  position: sticky;
  top: 0;
  z-index: 9;
}

/********************/
.page {
  height: 100vh;
}

/************BookingList Page Css Start*************/
.booking_list_Filter {
  background: #fff;
  padding: 6px 0 6px 0;
  border-bottom: 1px solid #dadfe5;
}

.booking_list_Dtl_box {
  height: calc(100vh - 180px);
  background: #fff;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  overflow: hidden;
}

.booking-list-card {

  border-right: 1px solid #e5e5e5;
  overflow: hidden;
  background: #fff;
}

.booking-list-body {
  height: calc((100vh - 180px) - 39px);
  overflow-y: scroll;
}

.booking-deatils-card {}

.booking-deatils-body {
  height: calc((100vh - 180px) - 39px);
  overflow-y: scroll;
  padding: 6px 20px 8px 20px;
}

.booking-deatils-body-preview {
  height: calc((100vh - 44px) - 20px);
  overflow-y: scroll;
  padding: 6px 20px 8px 20px;
}

.cName-text-wrap {
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  line-height: 1.5;
  max-width: 100%;
  max-width: 75%;
  overflow: hidden;
  text-align: left;
}

.bookings_Company_Name {
  padding: 8px 12px 11px 12px;
  border-bottom: 1px solid #e5e5e5;
  cursor: pointer;
  border-left: 3px solid #ccc0;
}

.bookings_Company_Name.activeBox {
  border-left: 3px solid #fbb900;
  background: #f8f8f8;
}

.bookings_Company_Name:hover {
  background: #f5f5f5;
}

.b_cmpny_time {
  font-size: 12px;
  margin-top: 6px;
  color: #6e6e6e;
}

.b_cmpny_name {
  font-size: 16px;
  font-weight: 500;
  color: #3e3e3e;
}

.b_Services_name {
  font-size: 12px;
}

.b_BDE_name {
  font-size: 12px;
  color: #6e6e6e;
}

.b_Services_name .sname {
  background: #f8f4ea;
  padding: 1px 5px;
  font-size: 10px;
  border-radius: 3px;
  margin-right: 8px;
}

.bookings_Company_Name:hover .b_Services_name .sname {
  background: #fff;
}

.b_Services_amount {}

.b_Services_amount .amount {
  padding: 1px 5px;
  font-size: 10px;
  border-radius: 3px;
  margin-right: 8px;
}

.total_amount_bg {
  background: #edf5ff;
}

.receive_amount_bg {
  background: #e4ffe3;
}

.pending_amount_bg {
  background: #fff2e1;
}

.bookings_Company_Name:hover .b_Services_amount .total_amount_bg {
  background: #c7e2fe;
}

.bookings_Company_Name:hover .b_Services_amount .receive_amount_bg {
  background: #b1f9af;
}

.bookings_Company_Name:hover .b_Services_amount .pending_amount_bg {
  background: #ffdcad;
}

.b_Services_multipal_services {
  width: 24px;
  text-align: center;
  height: 24px;
  background: #edf7ff;
  border-radius: 100px;
  color: #868686;
}

.bookings_Company_Name:hover .b_Services_multipal_services {
  background: #c4e5ff;
}
.b_Service_remaining_receive
{
  width: 24px;
  text-align: center;
  height: 24px;
  background: #fdf4e1;
  border-radius: 100px;
  color: #868686;
  margin-right: 3px;
}
.bookings_Company_Name:hover .b_Service_remaining_receive
{
  background: #f3e2bd;
}
.b_Service_remaining_receive img
{
  width: 16px;
}
.booking-deatils-heading {
  padding: 6px 20px 8px 20px;
  background: #f5f5f5;
  font-weight: 500;
  border-bottom: 1px solid #e5e5e5;
}

.booking-list-heading {
  padding: 6px 10px 8px 10px;
  background: #f5f5f5;
  font-weight: 500;
  border-bottom: 1px solid #e5e5e5;
}

.b_dtl_C_name {
  font-size: 16px;
}

.my-card {
  border: 1px solid #eee;
  border-radius: 14px;
  box-shadow: 2px 2px 10px -3px #ebebeb;
  background: #fff;
  overflow: hidden;
}

.my-card-head {
  border-bottom: 1px solid #eee;
  padding: 4px 10px;
  font-weight: 500;
}

.my-card-body {}

.booking_inner_dtl_h {
  padding: 4px 10px;
  font-size: 12px;
  font-weight: 500;
}

.booking_inner_dtl_b {
  padding: 4px 10px;
  font-size: 12px;
}

.bdr-top-eee {
  border-top: 1px solid #eee;
}

.bdr-btm-eee {
  border-bottom: 1px solid #eee;
}

.bdr-left-eee {
  border-left: 1px solid #eee;
}

.bdr-right-eee {
  border-right: 1px solid #eee;
}

.highlight-changes {
  font-weight: bold;
  background-color: #e0e2e6;
}

.mul-booking-card {
  padding: 10px 10px;
  background: #f8f8f8;
  border-radius: 5px;
}

.mul_booking_heading {
  text-align: left;
}

.mul_booking_date {
  text-align: right;
}

.mul-booking-card-inner-head {
  font-size: 12px;
}

.services-name {
  font-weight: bold;
  color: #ffb900;
}

.booking-docs-preview {
  background: #fff;
  border: 1px solid #eee;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 10px -3px #ebebeb;
}

.booking-docs-preview-img {
  height: 100%;
  width: 60px;
  position: relative;
  border-radius: 5px;
  margin: 0 auto;
  overflow: hidden;
  cursor: pointer;
}

.booking-docs-preview-img img {
  width: 60px;
  height: 60px;
  object-fit: contain;
  object-position: center center;
  border-radius: 5px;
  position: relative;
  transition: 0.5s;
  transform-origin: center center;
}

.booking-docs-preview-text {
  text-align: center;
  font-size: 12px;
  margin-top: 10px;
}

.booking-docs-preview-text p .booking-docs-preview-text p {
  text-align: center !important;
}

.booking-docs-preview {
  padding: 10px;
}

.booking-img-name-txtwrap {
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  line-height: 1.5;
  max-width: 100%;
  max-width: fit-content;
  overflow: hidden;
  text-align: center;
}

.Services_Preview_action_edit {
  cursor: pointer;
  width: 22px;
  height: 22px;
  line-height: 19px;
  text-align: center;
  border-radius: 100px;
  background: #46464630;
  font-size: 12px;
  color: #777777;
  transition: transform .2s;
}

.Services_Preview_action_delete {
  cursor: pointer;
  width: 22px;
  height: 22px;
  line-height: 19px;
  text-align: center;
  border-radius: 100px;
  background: #f7670730;
  font-size: 12px;
  color: #be1e1e;
  transition: transform .2s
}

.Services_Preview_action_delete:hover {
  color: #fff;
  background: #c48e8e;
}

.Services_Preview_action_delete:active {
  transform: scale(1.3);
}

.Services_Preview_action_edit:hover {
  color: #fff;
  background: #a7a5a5;
}

.Services_Preview_action_edit:active {
  transform: scale(1.3);
}

.bookings_add_more {
  cursor: pointer;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 100px;
  display: flex;
  background: #ffb900;
  font-size: 12px;
  color: #000000;
  transition: transform .2s;
  align-items: center;
  justify-content: center;
}

.bookings_add_more svg {
  margin-left: 1px;
}

.bookings_add_more:hover {
  color: #000;
  background: #fff;
}

.bookings_add_more:active {
  transform: scale(1.3);
}

.chooseBooking-particular {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #fdd974;
  margin: 10px;
  padding: 11px 18px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 19px;
  background-color: #fff8e4;
  color: #5e4400;
  transition: transform .1s
}

.chooseBooking-particular:hover {
  color: #000;
  background-color: #fdd974;
}

.chooseBooking-particular-active {
  color: #000;
  background-color: #fdd974;
}

.upload-Docs-BTN {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  border-radius: 100px;
  border: 1px dashed #ccc;
  cursor: pointer;
  margin: 19px auto;
  font-size: 22px;
  color: #6f6f6f;
  transition: transform .2s;
}

.upload-Docs-BTN:hover {
  transform: scale(1.3);
}

.upload-Docs-BTN:active {
  border: 1px dashed #ffb900;
  color: #ffb900;
}

/************BookingList Page Css End*************/
/************Remainning page BookingList Page Css Start*************/

.f-12 {
  font-size: 12px;
}

.add-remaining-amnt {
  cursor: pointer;
  background: #63b463;
  color: #fff;
  width: 15px;
  height: 15px;
  text-align: center;
  font-weight: bold;
  line-height: 12px;
  border-radius: 100px;
  font-size: 14px;
}

.add-remaining-amnt:hover {
  background: #468846;
  color: #fff;
}

.add-remaining-amnt:active {
  background: #90ce90;
  color: #000;
}

.bdr-none {
  border: none;
}

.accordion-button {
  cursor: pointer;
}

.w-95 {
  width: 95%;
}

.pr-10 {
  padding-right: 10px !important;
}

/************Remainning page BookingList Page Css End*************/
.wApp a {
  text-decoration: none !important;
  color: #097c1b !important;
  transition: transform .2s
}

.wApp a:active {
  transform: scale(1.3);
  color: #000 !important;
}

.bg-fffafa {
  background: #fffafa;
}

.btn-small {
  padding: 0px 4px;
  font-size: 10px;
  background: #fff9c5;
  color: #ffb900;
}

/************************* Icons  ***************************************/

.feedback-slider {
  z-index: 9999;
}

/******************** Dashboard Start ********************/

.dashboard-headings {
  padding: 10px 15px;
}

.dash-card-1 {
  background: #fff;
  border: 1px solid #eee;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.dash-card-1-head {
  padding: 6px 10px;
  border-bottom: 1px solid #eee;
  font-size: 11px;
  font-weight: bold;
  color: #5d5d5d;
}

.dash-card-1-body {
  padding: 2px 10px;
  border-bottom: 1px solid #eee;
  font-weight: bold;
  color: #585858;
}

.dash-card-1-num {
  font-size: 18px;
}

.clr-1ac9bd {
  color: #1ac9bd;
}
.clr-ff8800
{
  color: #ff8800;
}
.clr-ffb900
{
  color: #ffb900;
}

.clr-4299e1 {
  color: #4299e1;
}

.clr-1cba19 {
  color: #1cba19
}

.clr-e65b5b {
  color: #e65b5b;
}

.clr-00d19d {
  color: #00d19d;
}

.clr-a0b1ad {
  color: #a0b1ad;
}
.clr-000
{
  color:#000;
}
.dash-card-1-head2
{
  font-size: 11px;
  font-weight: 500;
  padding: 4px 0px;
}

.dashIconImg {
  opacity: 0;
  /* position: absolute;
  right: -10px;
  bottom: -10px; */
}

.dashIconImg img {
  width: 52px;
  /* rotate: 346deg; */
}

.as-bde-bdm-daSH-inner {
  background: #fff;
  border-radius: 6px;
  overflow: hidden;
}

.dash-card-2 {
  background: #f7f7f7;
  border: 1px solid #eee;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  padding: 6px 10px;
}

.dash-card-2-head {
  font-size: 11px;
  font-weight: 500;
  color: #858585;
}

.dash-card-2-num {
  font-size: 16px;
  font-weight: 500;
  margin-left: 10px;
  color: #000;
}

.form-select-sm {
  width: 200px;
}


.admin-dashboard table {
  width: 100%;
  border-spacing: 0;
  border-collapse: separate;
  border-radius: 10px;
  padding: 0px;
}

.admin-dash-tbl-thead {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1;
}

.admin-dash-tbl-thead th {
  background: #e0e0e0;
  color: #000;
  font-weight: 700;
}

.admin-dash-tbl-thead th:first-child {
  border-radius: 10px 0 0 0;
}

.admin-dash-tbl-thead th:last-child {
  border-radius: 0 10px 0px 0;
}

.admin-dash-tbl td {
  padding: 5px 10px !important;
  border: 1px solid #ededed !important;
}

.admin-dash-tbl-tfoot {
  position: sticky;
  bottom: -0.5px;
  z-index: 1;
}

.admin-dash-tbl-tfoot td {
  background: #f6f2e9;
  color: black;
  font-weight: 500;
}

.admin-dash-tbl-tfoot td:first-child {
  border-radius: 0 0 0 10px;
}

.admin-dash-tbl-tfoot td:last-child {
  border-radius: 0 0 10px 0;
}

.admin-dash-tbl {
  border-radius: 10px !important;
}

.my-date-picker {
  max-width: 200px !important;
}

.admin-dash-tbl .MuiTextField-root {
  max-width: 200px !important;
}

.my-date-picker input,
.my-date-picker select {
  padding: 8px !important;
  font-size: 14px;
}

#demo-multiple-name {
  padding: 7px 26px 7px 10px !important;
  font-size: 14px;
}

#demo-select-small-label {
  font-size: 14px;
  top: -6px;
}

.my-date-picker fieldset {
  border: none;
}

#demo-select-small-label.Mui-focused,
#demo-select-small-label.MuiFormLabel-filled {
  visibility: hidden;
}

.MuiStack-root {
  padding: 0px !important;
}

.my-date-picker {
  border-radius: 6px;
}

.short-arrow-div {
  position: relative;
  display: block;
  width: 14px;
  height: 14px;
}

.up-short-arrow {
  position: absolute;
  top: -4px;
  height: 16px !important;
  font-size: 16px !important;
  left: 0;
}

.down-short-arrow {
  position: absolute;
  bottom: -4px;
  height: 16px !important;
  font-size: 16px !important;
  left: 0;
}

.tbl-scroll {
  max-height: calc(100vh - 306px);
  overflow-y: scroll;
  border-radius: 10px;
}

.admin-dash-tbl .form-control.my-date-picker.form-control-sm {
  max-width: 200px;
}

.mat-tab-inner .MuiBox-root {
  padding: 16px !important;
}

/******************** Dashboard End ********************/

.hide-placeholder::-webkit-input-placeholder {
  color: transparent !important;
}

td input {
  background: none;
  border: none;
}

.swal2-confirm {
  background-color: #f9d206 !important;
}

.LoaderTDSatyle {
  min-height: 400px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.My_Mat_Dialog .MuiDialog-paper {
  border-radius: 22px !important;
}

.My_Mat_Dialog .btn {
  box-shadow: none !important;
}

.swal2-popup.swal2-modal.swal2-show {
  border-radius: 22px;
}

.bdr-radius-none {
  border-radius: 0px !important;
}

.My_Text_Wrap {
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  max-width: 100%;
  overflow: hidden;
  text-align: left;
}
.listgrridradio_main
{
    border-radius: 10px;
    overflow: hidden;
}
.custom_radio-alias
{
  background-color: #f5f5f5;
  color: #7f7f7f;
  display: inline-block;
  padding: 6px 12px;
  z-index: 1;
  position: relative;
  transition: all 250ms ease-out;
  cursor: pointer;
  font-size: 14px;
  height: 32PX;
  line-height: 18PX;
}
.listgrridradio_main input[type=radio]{
  display: none;
}

.listgrridradio_main input[type=radio]:checked + .custom_radio-alias{
  background-color: #b3b3b3;
  color: #fff;
}
/***************************************Employee Profile Page***************************************/
.employee-profile-main
{
  position: relative;
}
.employee_profile_picture
{
  position: relative;
  position: relative;
  border-right: 1px solid #eee;
}
.employee_picture
{
  overflow: hidden;
  width: 200px;
  height: 200px;
  background: #eee;
  /* box-shadow: 1px 1px 8px -3px #ffba00; */
}
.employee_picture img
{
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center center;
  object-position: center center;
  position: relative;
  transition: 0.5s;
  transform-origin: center center;
  width: 100%;
  height: 100%;
}
.employee_profile_data
{
  width: calc(100% - 200px);
}
.EP_Name
{
  padding: 10px 20px 10px 20px;
  border-bottom: 1px solid #eee;
}
.profile-pic-upload {
    width: 30px;
    text-align: center;
    height: 30px;
    line-height: 26px;
    border-radius: 100px;
    background: #ffba00;
    position: absolute;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
    transition: transform .2s;
    box-shadow: 3px 4px 12px -3px #686868;
}
.employee-personal-details {
    width: 30px;
    text-align: center;
    height: 30px;
    border-radius: 100px;
    background: #ffba00;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
    transition: transform .2s;
    box-shadow: 3px 4px 12px -3px #686868;
}
.profile-pic-upload:hover
{
  color: #ffba00;
  background: #000;
}
.profile-pic-upload:active
{
  color: #fff;
  transform: scale(1.08);
}
.employee_active {
  padding: 3px 10px 3px 10px;
  background: #38e037;
  margin-left: 18px;
  margin-top: 2px;
  border-radius: 3px;
  font-size: 11px;
  color: #fff;
  box-shadow: 3px 2px 10px -4px #38e037;
}
.EP_Designation
{
  font-size: 12px;
  color: #6a6a6a;
  line-height: 1;
  font-weight: 400;
}
.ep_info_icon
{
  font-size: 14px;
  line-height: 14px;
  height: 18px;
  color: #474747;
  width: 18px;
  margin-left: 10px;
}
.ep_info_h
{
  font-size: 11px;
  font-weight: 600;
}
.ep_info_t
{
  font-size: 11px;
}

.EP_Other_info
{
  
}
.EP_Other_info_head
{
  padding: 10px 20px 10px 20px;
  font-size: 12px;
  font-weight: 600;
  border-bottom: 1px solid #eee;
}
.e-profile-tab
{
  background: #fff;
  border: 1px solid #eee;
  border-radius: 12px;
  overflow: hidden;
}
.e-profile-tab-item {
  padding: 6px 4px 8px 4px;
  width: 100%;
  text-align: center;
  border: 1px solid #eee;
  cursor: pointer;
  background: #fff;
  font-weight: 500;
  font-size: 12px;
}
.e-profile-tab-item.active
{
  background: linear-gradient(45deg, #ffba00, #ffde00, #ffba00);
}
.e-profile-tab-item:first-child
{
  border-radius: 12px 0 0 12px;
}
.e-profile-tab-item:last-child
{
  border-radius: 0 12px 12px 0;
}
.e-profile-tab-main
{
  min-height: 330px;
}
.e-profile-tab-data
{

}
.e-profile-tab-data .form-control-sm
{
  padding: 4px 10px !important;
}
.e-profile-tab-data .btn-sm
{
  padding: 4px 10px !important;
}
.emply-p-table table thead tr 
{
  background: #eee !important;
  border: none !important;
}
.emply-p-table table thead tr th
{
  background: #dadfe5 !important;
  color: #000;
  border: none !important;
}
.emply-p-table table thead tr td
{
  border: none !important;
}
.emply-p-table table tbody tr
{
  background: #fff;
}
.emply-p-table table tbody tr:nth-child(even)
{
  background:#f6f8fb !important ;
}
.emply-p-table table tbody tr:nth-child(odd)
{
  background:#efefef !important ;
}
.emply-p-table table tbody tr td
{
  border: none !important;
  padding: 5px 2px 5px 2px !important;
}

.emply-p-table
{
  max-height: 216px;
  overflow: scroll;
  border: 1px solid #dadfe5;
  border-radius: 10px;
}

/*****************************RM panel******************************************/


.table-style-2 table thead tr 
{
  background: #eee !important;
  border: none !important;
}
.table-style-2 table thead tr th
{
  background: #dadfe5 !important;
  color: #000;
  border: none !important;
}
.table-style-2 table thead tr td
{
  border: none !important;
}
.table-style-2 table tbody tr
{
  background: #fff;
}
.table-style-2 table tbody tr:nth-child(even)
{
  background:#f9f9f9 !important ;
}
.table-style-2 table tbody tr:nth-child(odd)
{
  background:#efefef !important ;
}
.table-style-2 table tbody tr td
{
  border: none !important;
  padding: 10px 2px 10px 2px !important;
}
.tbl-pro-img
{
  border: 1px solid #ccc;
  border-radius: 100px;
  height: 30px;
  line-height: 30px;
  margin-right: 12px;
  position: relative;
  text-align: center;
  width: 30px;
}
.tbl-pro-img img
{
  background: #ccc;
  border-radius: 20px;
  color: #0000;
  height: 100%;
  object-fit: cover;
  object-fit: contain;
  object-position: center top;
  position: relative;
  text-align: center;
  text-indent: 10000px;
  transform: scale(1.2);
  transform-origin: center center;
  transition: .5s;
  width: 100%;
}
.table-style-2
{
  max-height: calc(100vh - 207px);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(218, 223, 229);
  border-image: initial;
  border-radius: 10px;
  overflow-y: scroll;
}



/*****************************Basic Information Form******************************************/
.form-control,  
.form-select {
  border: 1px solid #dadfe5 !important;
}

.form-control:focus,
.form-select:focus {
  background-color: var(--tblr-bg-forms);
  border-color: #dee8b5 !important;
  box-shadow: 0 0 #0000, 0 0 7px -2px #b6b6b6 !important;
  color: inherit;
  outline: 0;
}

.basic-information-main {
  position: relative;
}

.basic-info-page-header {
  position: sticky;
  top: 0px;
  box-shadow: 1px 0px 9px -2px #bfbfbf;
  background: #fff;
  z-index: 9999;
}

.basic-info-logo {
  text-align: left;
  padding: 10px 0px;
}

.basic-info-logo img {
  width: 140px;
}

.go-web-btn a {
  text-decoration: none;
  color: #fff;
}

.go-web-btn .btn-primary {
  background: #ffb900 !important;
  border: none;
}

.basic-info-head {
  background: #000;
  padding: 30px 0px;
  color: #fff;
  text-align: center;
}

.directors-details-box {
  padding: 12px 0 20px 0;
  background: #eee;
  margin: 10px 0px;
}

.directors-details-box h5 {
  margin: 0px;
  border: 1px solid #ffba00;
  background-color: #1a1a1a;
  text-align: center;
  width: 44px;
  height: 44px;
  line-height: 44px;
  color: #fff;
  border-radius: 100px;
}

.input-note {
  font-size: 10px;
  padding: 2px 4px;
  background: #fffedd;
  margin-top: 3px;
  width: fit-content;
}

.Director {
  display: inline-flex;
  margin-right: 8px;
  font-size: 16px;
  font-family: 'poopins' sans-serif;
}

/*  ---------------------------------------------------------------- Notification Panels  ------------------------------------------------------ */

.Notification_acceptbtn{
  border: 1px solid #4dc760;
  background-color: #c8ffc8;
  border-radius: 10px;
  color: #088a08;
  padding: 1px 4px 3px 3px;
  transition: all 0.1s;
}
.Notification_completedbtn{
  border: 1px solid #ffe6e6;
  background-color: #e7e7e7;
  border-radius: 10px;
  color: #8f8f8f;
  padding: 1px 4px 3px 3px;
  transition: all 0.1s;
}
.Notification_acceptbtn:hover{
  border: 1px solid #4dc760;
  background-color: #67ff67;
  border-radius: 10px;
  color: #088a08;
  padding: 1px 4px 3px 3px;
  cursor: pointer;
}
.Notification_rejectbtn{
  border: 1px solid #ff6666;
  background-color: #ffc8c8;
  font-size: 9px;
  border-radius: 10px;
  color: #ff6666;
  padding: 3px 6px 5px 4px;
  margin-left: 5px;
  transition: all 0.1s;
}
.Notification_rejectbtn:hover{
  cursor: pointer;
  border: 1px solid #ff6666;
  background-color: #ff8c8c;
  font-size: 9px;
  border-radius: 10px;
  color: #de5959;
  padding: 3px 6px 5px 4px;
  margin-left: 5px;
}


.Notification-table thead tr th
{
  background: #ffb9b9;
  border: none !important;
  border-bottom: 1px solid #ccc !important;
  color: #a77b7b;
  font-weight: bold !important;
}
.EditRequest-table thead tr th
{
  background: #d7fff4;
  border: none !important;
  border-bottom: 1px solid #ccc !important;
  color: #007891;
  font-weight: bold !important;
}
.General-table thead tr th
{
  background: #ffefc6;
  border: none !important;
  border-bottom: 1px solid #ccc !important;
  color: #ffb900;
  font-weight: bold !important;
}
.Manual-table thead tr th
{
  background: #cce8ff ;
  border: none !important;
  border-bottom: 1px solid #ccc !important;
  color: #1897fe ;
  font-weight: bold !important;
}
.Approve-table thead tr th
{
  background: #abff8d;
  border: none !important;
  border-bottom: 1px solid #ccc !important;
  color: #3eaa16;
  font-weight: bold !important;
}
.Notification-table tbody tr td
{
  vertical-align: middle;
  padding: 6px 0px !important;
  color: #946969 !important;
  border: none !important;
}
.General-table tbody tr td
{
  vertical-align: middle;
  padding: 6px 0px !important;
  color: #a28500 !important;
  border: none !important;
}
.EditRequest-table tbody tr td
{
  vertical-align: middle;
  padding: 6px 0px !important;
  color: #0996a8 !important;
  border: none !important;
}
.Manual-table tbody tr td
{
  vertical-align: middle;
  padding: 6px 0px !important;
  color: #1897fe  !important;
  border: none !important;
}
.Approve-table tbody tr td
{
  vertical-align: middle;
  padding: 6px 0px !important;
  color: #228700 !important;
  border: none !important;
}
.Notification-table tbody tr:nth-of-type(even)
{
  background: #ffeeee !important;
}
.General-table tbody tr:nth-of-type(even)
{
  background: #fffcea !important;
}
.EditRequest-table tbody tr:nth-of-type(even)
{
  background: #cbfcff !important;
}
.Manual-table tbody tr:nth-of-type(even)
{
  background: #def0ff  !important;
}
.Approve-table tbody tr:nth-of-type(even)
{
  background: #beffa8 !important;
}
.Approve-folder{
  cursor: pointer;
}
.Notification_filter input, .Notification_filter select{
border: 1px solid #ffd3d3 !important;
}
.Notification_Approve_filter input, .Notification_Approve_filter select{
border: 1px solid #beffa8 !important;
}
.GeneralNoti-Filter input, .GeneralNoti-Filter select{
border: 1px solid #ffefc6 !important;
}
.Notification-folder-open svg{
  font-size: 14px !important;
}
.Notification-folder-open svg:hover{
  font-size: 18px !important;
  cursor: pointer;
}
.expand-btn:hover{
  cursor: pointer;
  font-size: 15px;
}

/*   ----------------------------  BELLA chao  ----------------------------- */

/* Notification_BOX.css */

.notification-icon_final {
  cursor: pointer;
    color: #ccc;
    border-radius: 5px;
    display: inline-block;
    font-size: 28px;
    line-height: 1px;
    margin-right: 10px;
}

.notifications_final {
  position: absolute;
  top: 25px;
  right: -10px;
  width: 400px;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 10px;
  transition: 0.5s;
}
.notifications_final::before
{
  position: absolute;
  content: "";
  width: 13px;
  height: 13px;
  border: 1px solid #ddd;
  rotate: 45deg;
  background: #fff;
  top: -6.5px;
  right: 18px;
  z-index: 1;
  border-left: 1px solid #ddd;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  transition: 0.5s;
}

.notifications_final ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.notifications_final li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.notifications_final li:last-child {
  border-bottom: none;
}
.noti-badge
{
  position: absolute;
  right: 7px;
  top: -4px;
  width: 18px;
  height: 18px;
  text-align: center;
  line-height: 18px;
  font-size: 9px;
  background: #be1e1e;
  color: #fff;
  border-radius: 100px;
}
.noti-item-head
{
  display: flex;
  padding: 8px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
}
.noti-item-footer
{
  padding: 6px;
  text-align: center;
  font-size: 12px;
  color: #3d94ff;
  font-weight: 500;
  cursor: pointer;
}
.noti-item
{
  display: flex;
  padding: 8px;
  align-items: center;
  cursor: pointer;
  background: #fff;
  transition: 0.3s;
}
.noti-User-profile
{
  width: 40px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 100px;
  line-height: 40px;
  text-align: center;
  position: relative;
  margin-right: 12px;
}
.noti-User-profile img
{
  width: 100%;
  height: 100%;
  text-align: center;
  object-fit: cover;
  color: transparent;
  object-fit: contain;
  object-position: center top;
  position: relative;
  transition: 0.5s;
  transform-origin: center center;
  text-indent: 10000px;
  background: #ccc;
  transform: scale(1.2);
  border-radius: 20px;
}
.noti-designation
{
  font-size: 6px;
  width: 16px;
  height: 16px;
  line-height: 16px;
  border-radius: 100px;
  text-align: center;
  background: #007891;
  color: #fff;
  font-weight: 500;
  position: absolute;
  bottom: -3px;
  right: -5px;
}
.noti-data
{
  width: calc( 100% - 52px );
}
.noti-time
{
  font-size: 10px;
  color: #9b9b9b;
}
.noti-item.unread
{
  background: #f6faff;
}
.noti-item:hover
{
  background: #eee;
}
.unread-bdge {
  font-size: 10px;
  background: #9bc8ff;
  height: 18px;
  line-height: 18px;
  padding: 0 6px;
  border-radius: 3px;
  color: #fff;
}

/* CSS for Custom Calendar */
.custom-calendar {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.days input {
  height: 25px;
  width: 80px;
  text-align: center;
  cursor: pointer;
  font-weight: bolder;
}

.curr-month {
  margin-bottom: 5px;
}

.custom-calendar .curr-month {
  display: flex;
  justify-content: space-between;
}

.days,.dates {
  margin-top: 5px;
  margin-left: 5px;
}

.curr-month button {
  height: 25px;
  display: flex;
  align-items: center;
  border: none;
  cursor: pointer;
  padding: 2px 10px;
  border-radius: 5px;
  background-color: rgb(255, 177, 32);
  color: white;
  transition: background-color 0.3s;
  margin: 0 8px;
}

.curr-month button:hover {
  background-color: rgb(238, 159, 12);
}

.dates {
  display: flex;
  flex-wrap: wrap;
}

.dates .date {
  position: relative;
  top: -13px;
  left: 48px;
  font-weight: bolder;
}

.date-info {
  /* width: calc(100% / 7); */
  height: 80px;
  width: 80px;
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid #ddd;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 2px 0;
}

.date-info input {
  border: none;
  background: none;
  font-size: 14px;
}

.date-info .attendance {
  color: red;
  font-size: 10px;
  position: relative;
  top: -12px;
  right: 8px;
}

.date-info .achieved {
  color: orange;
  font-size: 10px;
  position: relative;
  top: -11px;
  right: 8px;
}

.date-info .projection {
  color: blue;
  font-size: 10px;
  position: relative;
  top: -10px;
  right: 8px;
}

.date-info.current {
  background-color: #e0f7fa; /* Change to desired background color for current date */
}