body {
  margin: 0;
  overflow: overlay;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #eee transparent;
}
/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  height: 10px;
  width: 16px;
}
*::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}
*::-webkit-scrollbar-thumb {
  background-color: #ffb900;
  border-radius: 10px;
  border: 3px solid #ffffff;
}
/* Track */
*::-webkit-scrollbar-track {
background: #f1f1f1 !important;
}
/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
background: #ffb900 !important;
}


.form-check-input:checked{
    background-color: #ffb900 !important;
}
.swal2-container{
    z-index: 10000000 !important;
}
.btn-primary{
    --tblr-btn-bg: #ffb900 !important;;
    --tblr-btn-hover-color: #ffb900 !important;;
}
.btn-primary:hover{
background-color: #f6df9f !important;
}
.rupees-sym{
    background-color: #ffb900;
    display: flex;
    align-items: center;
    padding: 0px 20px;
    border-radius: 0px 5px 5px 0px;
}
.css-13cymwt-control{
    border: 1px solid #ffb900 !important;
    
}
#resizableColumn {
    width: 200px; /* Initial width of the resizable column */
  }
.hr-1
{
    width: 100%;
    height: 1px;
    background: #ccc;
    margin: 10px 0px;
}
.hr-2
{
    width: 100%;
    height: 1px;
    background: #e4e4e4;
    margin: 9px 0px;
}
.cont-info{
    margin: 0px 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.timing{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
th {

    font-weight: 500;
}
.form-control{
    border: 1px solid #ffb900 !important;
}
.form-select{
    border: 1px solid #ffb900 !important;
}

.swal2-container{
    z-index: 10000000 !important;
}
.btn-primary{
    --tblr-btn-bg: #ffb900 !important;;
    --tblr-btn-hover-color: #ffb900 !important;;
}
.btn-primary:hover{
background-color: #f6df9f !important;
}
.rupees-sym{
    background-color: #ffb900;
    display: flex;
    align-items: center;
    padding: 0px 20px;
    border-radius: 0px 5px 5px 0px;
}

.hr-1
{
    width: 100%;
    height: 1px;
    background: #ccc;
    margin: 10px 0px;
}
.hr-2
{
    width: 100%;
    height: 1px;
    background: #e4e4e4;
    margin: 9px 0px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

/* Firefox */
input[type=number] {
-moz-appearance: textfield;
}
.form-control:focus,.form-select:focus {
    color: inherit;
    background-color: var(--tblr-bg-forms);
    border-color: #dee8b5 !important;
    outline: 0;
    box-shadow: 0 0 transparent, 0 0 7px -2px #b6b6b6 !important;
}

.details-payment .form-hint
{
    background: #e7e7e7;
    padding: 2px 8px;
    margin: 4px 0;
    color: rgb(63, 66, 21);
    display: inline-block;
    border-radius: 4px;
}
.uploaded-filename-main
{
    padding: 4px 8px;
    border-radius:4px ;
    background: #fff;

}
.uploaded-fileItem
{
    margin-right: 8px;
    background: #fff3d2;
    font-size: 10px;
    padding: 2px 6px;
    border-radius: 5px;
    margin-bottom: 3px;
    margin-top: 3px;
}
.fileItem-dlt-btn
{
    width: 18px;
    height: 18px;
    line-height: 9px;
    text-align: center;
    border-radius: 100px;
    margin-left: 6px;
    background: #ffb4b4;
    border: none;
    padding: 0;
}
.close-icon
{
    height: 10px !important;
    width: auto !important;
}

.error-border:focus{
    color: inherit;
    background-color: var(--tblr-bg-forms);
    border-color: #d66c6c !important;
    outline: 0;
    box-shadow: 0 0 transparent, 0 0 7px -2px #ffb6b6 !important;
}
.error-border{
    color: inherit;
    
    border-color: #d66c6c !important;
    outline: 0;
    box-shadow: 0 0 transparent, 0 0 7px -2px #ffb6b6 !important;
}

.item-act{
    background-color: #f2f2f2 !important;
}
select:focus, input:focus, textarea:focus
{
    outline: none !important;
}
.editField
{
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 9;
    cursor: pointer;
    color: #ffb900;
}

.RemarkCard
{
    padding: 8px 12px;
    margin: 0px 0px 12px 0px;
    border: 1px solid #fff1cb;
    box-shadow: 1px 1px 5px -4px #ffb900;
    border-radius: 9px;
    background: #fffde9;
}

.reamrk-card-innerText
{
    text-transform: capitalize;
    color: #000;
    max-width: calc(100% - 30px); /* Adjust the value based on the width of the delete icon */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.card-dateTime
{
    font-size: 10px;
    margin-top: 16px;
    color: #826607;
}

.dlticon svg 
{
    width: 14px !important;
}
.dlticon
{
    width: 20px;
    height: 20px;
    border-radius: 150px;
    background: #ffd7d7;
    display: flex;
    align-items: center;
    justify-content: center;
}
.remarks-content {
    max-height: 236px;
    overflow-y: scroll !important;
    margin: 0px 0px 22px 0;
    cursor: pointer;
    padding: 12px 12px 12px 12px;
    background: #fbfbfb;
    border-radius: 10px;
    border: 1px solid #eee;
}
a
{
    text-decoration: none;
}
.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 96% !important;
}
tr:hover{
    background: #eee;
}
tr:focus{
    background: #eee;
}
.tr-sticky
{
    position: sticky;
    top: -1px;
    z-index: 99;
    background: #f2f2f2;
}
.th-sticky
{
    position: sticky;
    left: 0px;
    top: 0px;
    z-index: 99;
    border-right: 1px solid #eee !important;
    box-shadow: 1px 1px 10px 42px #000 !important;
    background: #f2f2f2;
}
.tf-sticky
{
    position: sticky;
    bottom: -1px;
    z-index: 99;
    background: #f2f2f2;
}

.th-sticky1
{
    position: sticky;
    left: 52px;
    top: 0px;
    z-index: 99;
    border-right: 1px solid #eee !important;
    box-shadow: 1px 1px 10px 42px #000 !important;
    background: #f2f2f2;
}
.td-sticky
{
    position: sticky;
    left: 0px;
    top: auto;
    z-index: 98;
    background: white;
    border-right: 1px solid #eee !important;
    box-shadow: 1px 1px 10px 42px #000 !important;
}
.td-sticky1
{
    position: sticky;
    left: 52px;
    top: auto;
    z-index: 98;
    background: white;
    border-right: 1px solid #eee !important;
    box-shadow: 1px 1px 10px 42px #000 !important;
}
tr:hover .td-sticky
{
    background: #eee;
    z-index: 98;
}
tr:hover .td-sticky1
{
    background: #eee;
    z-index: 98;
}
.pagination button
{
    padding: 0px 0px 5px 0px;

}
pre
{
    background:none !important;
    color: #000 !important;
    font-size: 14px;
    padding: 0px;
}
.no_badge
{
    width: -moz-fit-content;
    width: fit-content;
    padding: 2px 5px;
    color: #efad00;
    background: #fff4d6;
    margin-left: 8px;
    font-weight: bold;
    font-size: 10px;
    border-radius: 100px;
}
th{
    padding: 5px 10px !important;
}
.login-card
{
    width: 800px;
    margin: 0 auto;
}
.login-card .card
{
   border: none;
   border-radius: 0px !important;
}
span.input-group-text {
  padding: 0px 9px !important;
  border: 1px solid #ffb900;
  background: #ffb900 !important;
  color: #000 !important;
}
.login-box
{
  border-left:1px solid #eee
}
.my-tab .nav-fill .nav-item .nav-link {
    justify-content: space-between;
    padding: 4px 10px;
    color: #494949;
    font-weight: 600;
    border: 1px solid #eee;
}
.nav-link.active
{
    color: #000 !important;
    border: 1px solid #dddddd !important;
}
th {
    font-weight: 500 !important;
}
.page-wrapper .page-header
{
    margin: 10px 0px 0px 0px !important;
}
.page-body
{
    margin: 10px 0px 0px 0px !important;
}
.NoData
{
    padding: 100px;
}
.No
{
    width: 100%;
    text-align: center;
}
.noDataImg
{
    width: 70px;
    margin: 20px 0px;
}
.NoDataText
{
    font-weight: bold;
    font-size: 18px;
    color: #505050;
}

.particular:hover{
    background-color: white !important;
}
.particular:focus{
    background-color: white !important;
}
.request-list{
    border-bottom: 1px solid #ccc !important;
}

  

  
  .notification-box {
    /* Add your styles for the notification box */
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
  }
  
  .notification-item {
    /* Add your styles for individual notification items */
    margin-bottom: 5px;
  }
  .selected{
    background: #fff9e8;
    color: #000;
  }
  .mr-2{
    margin-right: 20px;
  }
  .mr-1{
    margin-right: 10px;
  }
  .mr-3{
    margin-right: 30px;
  }
  .ml-2{
    margin-left: 20px;
  }
  .ml-1{
    margin-left: 10px;
  }
  .ml-3{
    margin-left: 30px;
  }


  td.td-sticky1::after, td.td-sticky::after, th.th-sticky::after, th.th-sticky1::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-right: 1px solid #ddd !important;
}


.css-1yxmbwk
{
padding:6px !important;
}

.recent-updates{
    height: 50vh;
    overflow-y: scroll;
}
.update-card{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 1px 2px 1px #ccc;
    margin-bottom: 5px;
}
.wrapper {
    width: 330px;
    font-family: 'Helvetica';
    font-size: 14px;
  }
  
  .StepProgress {
    position: relative;
    padding-left: 129px;
    list-style: none;
  }
  .StepProgress::before {
    display: inline-block;
    content: '';
    position: absolute;
    top: 0;
    left: 100.2px;
    width: 10px;
    height: 100%;
    border-left: 2px solid #CCC;
  }
  .StepProgress-item {
    position: relative;
    counter-increment: list;
  }
  .StepProgress-item:not(:last-child) {
    padding-bottom: 20px;
  }
  .StepProgress-item::before {
    display: inline-block;
    content: '';
    position: absolute;
    left: -30px;
    height: 100%;
    width: 10px;
  }
  .StepProgress-item::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    left: -37px;
    width: 12px;
    height: 12px;
    border: 2px solid #CCC;
    border-radius: 50%;
    background-color: #FFF;
  }
  .StepProgress-item.is-done::before {
    border-left: 2px solid green;
  }
  .StepProgress-item.is-done::after {
    content: "✔";
    font-size: 10px;
    color: #FFF;
    text-align: center;
    border: 2px solid green;
    background-color: green;
  }
  .StepProgress-item.current::before {
    border-left: 2px solid green;
  }
  .StepProgress-item.current::after {
    content: counter(list);
    padding-top: 1px;
    width: 19px;
    height: 18px;
    top: -4px;
    left: -40px;
    font-size: 14px;
    text-align: center;
    color: green;
    border: 2px solid green;
    background-color: white;
  }
  .StepProgress strong {
    display: block;
  }
  .step-content {
    position: relative;
  }
  
  .step-date {
    position: absolute;
    left: -60px;
    top: 0;
    font-size: 12px;
    color: #999;
  }
  
  .info-label{
    margin-top: 3px;
  }
  .main-container{
    padding: 7px 45px 5px 45px;
  }
  
  .recent-updates {
    position: absolute;
    top: 18vh;
    right: 7vw;
    z-index: 9;
    display: none;
    transition: opacity 0.3s ease-in-out; /* Add transition effect */
}
.recent-updates.show {
  display: block; /* Show the element */
  opacity: 1; /* Set opacity to 1 when shown */
}
  .recent-updates-icon{
    position: absolute;
    z-index: 9;
    right: 10vh;
  }
  /* body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #282a36;
    height: 100vh;
    color: #fff;
  } */
  
  .otp-field {
    display: flex;
  }
  
  .otp-field input {
    width: 47px;
    font-size: 32px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    margin: 2px;
    border: 2px solid #55525c;
    background: #21232d;
    font-weight: bold;
    color: #fff;
    outline: none;
    transition: all 0.1s;
  }
  
  .otp-field input:focus {
    border: 2px solid #a527ff;
    box-shadow: 0 0 2px 2px #a527ff6a;
  }
  
  .disabled {
    opacity: 0.5;
  }
  
  .space {
    margin-right: 1rem !important;
  }
  .remark-text {
    max-width: 100%;
    word-wrap: break-word;
    white-space: pre-wrap;
  }
  .inco-filter {
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: absolute;
    width: 10em;
    text-align: left;
    margin-left: 100px;
    border: 1px solid #ddd;
    font-size: 14px;
    transition: all 0.3s ease;
  }
  
  .inco-filter:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .inco-subFilter {
    padding: 10px;
    color: #555;
    font-family: Arial, sans-serif;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .inco-subFilter:hover {
    background-color: #f0f0f0;
    color: #333;
  }

  .inco-filter .searchforbde input::placeholder{
    color:lightgrey;
  }
  .inco-filter .searchforbde input{
    color: black;
    font-size: 12px;
    font-weight: 400;
    font-family: sans-serif;
    border: none;
  }


  /* ----------------------------------------------styling for notification bar------------------------------------------------
   */
   
   .notification-bar{
    border: 1px solid green;
    height: 4em;
    width: 100%;
    padding: 10px;
    margin: 10px 0px;
    border-radius: 5px;
    background-color: lightgreen;
    display: flex;
    justify-content: space-between;
   }

   .g-card{
    transition: .3s;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
   }
   .show-time-card{
    margin-bottom: 4px;
color: #4e884e;
    font-size: 13px;
    font-weight: bold;
   }
   .inco-filter .searchforbde input::placeholder{
    color:lightgrey;
  }
  .inco-filter .searchforbde input{
    color: black;
    font-size: 12px;
    font-weight: 400;
    font-family: sans-serif;
    border:none;
  }
  .compose-email {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
  }
  
  .compose-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
 
    cursor: pointer;
  }

  
  .compose-popup {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 469px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .compose-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .compose-title {
    margin: 0;
  }
  
  .close-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #333;
  }
  
  .compose-input,
  .compose-textarea,
  .send-btn {
    display: block;
    width: calc(100% - 20px);
    margin: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
  }
  .compose-textarea{
    height: 40vh;
  }
  .send-btn {
    background-color: #fbb900;
    color: #fff;
    border: none;
    width: 84px;
    font-weight: bold;
    font-family: 'sans-serif';
  }
  
  .send-btn:hover{
    background-color: #936c00;
  }
  .compose-formatting, .compose-attachments, .compose-insert-files, .compose-menuIcon{
    cursor: pointer;
    padding: 5px;
  }
 .compose-formatting:hover ,.compose-attachments:hover, .compose-insert-files:hover, .compose-menuIcon:hover {
  background-color: #ccc;

 }

/* ------------------------------employee dashboard------------------------------------- */

.employeedashboard{
  padding: 0px;
}
.employeedashboard h2 {
  font-size: 15px;
  font-family: 'Poppins';
  margin-left: 27px;
  margin-top: 15px;
  margin-bottom:0px;
  font-weight: 500;
}
/* .date-range-picker{
  width: 13vw;
    margin-right: 27px;
    padding: 5px 21px;
    font-size: 12px;
    height: 29px;
    margin-top: 3px;
}
.new-date-range-picker{

    margin-right: 5px;
    padding: 0px 21px;
    font-size: 12px;
    height: 71px;
    margin-top: 0px;
} */

.general-searchbar{
  height: 30px;
  margin-top: 3px;
  width: 11vw;
  padding-left: 15px;
}
/**************** Steper Form CSS Start ************************/
.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-active , .MuiButton-textPrimary{
  color: #ffba00 !important;
}
.steprForm-bg
{
  background: #f6f8fb;
  height: calc(100vh - 230px);
  overflow-y: scroll;
}
.steprForm
{
  margin: 18px auto 0px;
  border-radius: 10px;
  padding: 15px 40px;
  width: 90%;
}
.steprForm-inner
{
  margin: 20px auto 6px;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}
/* .css-sghohy-MuiButtonBase-root-MuiButton-root,.css-bh137t-MuiButtonBase-root-MuiButton-root
{ 
  background-color: #ffba00 !important;
} */
.css-mjpk2e-MuiButtonBase-root-MuiStepButton-root
{
  padding: 0px !important;
  margin: 0px !important;
}
.No-active 
{
  padding: 8px 4px !important
}
.form-tab-active {
  background: #f6f8fb  !important;
  padding: 8px 4px !important
}

.css-1bw0nnu-MuiStep-root
{
    padding-left: 0px  !important; 
    padding-right: 0px !important;
}
.css-j5w0w9-MuiStepConnector-root
{
  margin-left: 8px;
}
/****************Steper Form CSS End ************************/
.css-mro3c9
{
  padding: 0px !important;
}
.css-a5nipc
{
  padding-right: 5px;
}
.css-tjvuvn
{
  width:auto;
  margin: 0px !important;
}
.css-4ff9q7.Mui-active {
  color: #ffba00 !important;
}
.css-11qjisw
{
  margin-left: 4px !important;
}
/******************************STEPER CSS FOR LIVE*****************************/
.css-1uvydh2
{
  padding: 6px 4px 6px 11px  !important;
  font-size: 14px !important;
}
.css-1tewkwq
{
  padding-top: 0px !important;
}
.svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-vubbuv
{
  width: 16px  !important;
  height: 16px !important;
}
/********datepicker live**********/
.servicesFormCard
{
  background: #f7f7f7;
  padding: 15px;
  border-radius: 10px;
  position: relative;
}
.services_No
{
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 100px;
  background: #fbb900;
  text-align: center;
  font-weight: bold;
  color: #fff;
}
.input-group .btn
{
  border-color: #fbb900 !important
}
.total-payment-inputs
{
  width: 60%;
}
.notes
{
  width: fit-content;
  padding: 4px 6px;
  background: #fcffcd;
  color: #000;
}
.form-label-name
{
  border: 1px solid #ccc;
  padding: 5px 10px;
  font-size: 12px;
}
.form-label-data
{
  border: 1px solid #ccc;
  padding: 5px 10px;
  font-size: 12px;
}
.h-100
{
  height: 100%;
}
.UploadDocPreview
{
  text-align: center;
  padding: 10px;
  height: auto;
  width: 80px;
  background: #fff;
  border-radius: 8px;
  cursor: pointer;
  margin: 2px 8px 4px 0px;
}
.docItemImg
{
  margin-bottom: 5px;
}
.docItemImg img
{
  width: 40px;
}
.wrap-MyText {
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  line-height: 1.5;
  max-width: 100%;
  max-width: 100px;
  overflow: hidden;
  text-align: left;
}

.pageNotFound_Logo
{
  margin: 0px auto;
  padding: 30px 0px 0px 0px;
  text-align: center;
}
.pageNotFound_Logo img
{
    width: 200px;
}
.pageNotFound_main
{
  background-color: #fff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.PageError
{
  position: relative;
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
  display: block;
  text-align: center;
  width: 450px;
  margin: 10px auto;
}
.PageErrorImage
{
  width: 100%;
  /* -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center center;
  object-position: center center;
  transform-origin: 50% 50%;
  transition: transform 0.5s ease-in-out;
  -webkit-transition: transform 0.5s ease-in-out;
  -moz-transition: transform 0.5s ease-in-out; */
}
.css-78trlr-MuiButtonBase-root-MuiIconButton-root
{
  padding: 6px !important;
}

.part-payment-col
{
  width: calc(100% - 95px);
}
.part-payment-plus-minus
{
  margin-right: 5px;
  padding-top: 28px;
  width: 90px;
}
.LeadFormPreviewDrawar
{
  position: relative;
}
.LeadFormPreviewDrawar-header
{
  width: 100%;
  display: block;
  padding: 6px 14px;
  background: #fbb900;
  position: sticky;
  top: 0;
  z-index: 9;
}
/********************/
.page
{
  height: 100vh;
}
/************BookingList Page Css Start*************/
.booking_list_Filter
{
  background: #fff;
  padding: 6px 0 6px 0;
  border-bottom: 1px solid #dadfe5;
}
.booking_list_Dtl_box
{
  height: calc(100vh - 180px);
  background: #fff;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
}
.booking-list-card
{

  border-right: 1px solid #e5e5e5;
  overflow: hidden;
  background: #fffdf9;
}
.booking-list-body
{
  height: calc((100vh - 180px) - 39px);
  overflow-y: scroll;
}
.booking-deatils-card
{

}
.booking-deatils-body
{
  height: calc((100vh - 180px) - 39px);
  overflow-y: scroll;
  padding: 6px 20px 8px 20px;
}
.booking-deatils-body-preview
{
  height: calc((100vh - 44px) - 20px);
  overflow-y: scroll;
  padding: 6px 20px 8px 20px;
}
.cName-text-wrap
{
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  line-height: 1.5;
  max-width: 100%;
  max-width: 75%;
  overflow: hidden;
  text-align: left;
}
.bookings_Company_Name {
  padding: 8px 12px 11px 12px;
  border-bottom: 1px solid #e5e5e5;
  cursor: pointer;
  border-left: 3px solid #ccc0;
}
.bookings_Company_Name.activeBox
{
  border-left: 3px solid #fbb900;
}
.bookings_Company_Name:hover
{
  background: #f5f5f5;
}
.b_cmpny_time
{
  font-size: 12px;
  margin-top: 6px;
  color: #6e6e6e;
}
.b_cmpny_name {
  font-size: 16px;
  font-weight: 500;
  color: #3e3e3e;
}
.b_Services_name {
  font-size: 12px;
}
.b_BDE_name
{
  font-size: 12px;
  color: #6e6e6e;
}
.b_Services_name .sname
{
  background: #f0e8d3;
  padding: 1px 5px;
  font-size: 10px;
  border-radius: 3px;
  margin-right: 8px;
}
.bookings_Company_Name:hover .b_Services_name .sname
{
  background:#fff;
}
.b_Services_amount
{

}
.b_Services_amount .amount
{
  padding: 1px 5px;
  font-size: 10px;
  border-radius: 3px;
  margin-right: 8px;
}

.total_amount_bg
{
  background: #d1e7ff;
}
.receive_amount_bg
{
  background: #c7ffc5;
}
.pending_amount_bg
{
  background: #ffe3bf;
}
.bookings_Company_Name:hover .b_Services_amount .total_amount_bg
{
  background: #c7e2fe;
}
.bookings_Company_Name:hover .b_Services_amount .receive_amount_bg
{
  background: #b1f9af;
}
.bookings_Company_Name:hover .b_Services_amount .pending_amount_bg
{
  background: #ffdcad;
}
.b_Services_multipal_services
{
  width: 24px;
  text-align: center;
  height: 24px;
  background: #ededed;
  border-radius: 100px;
  color: #868686;
}
.booking-deatils-heading {
  padding: 6px 20px 8px 20px;
  background: #f5f5f5;
  font-weight: 500;
  border-bottom: 1px solid #e5e5e5;
}
.booking-list-heading {
  padding: 6px 10px 8px 10px;
  background: #f5f5f5;
  font-weight: 500;
  border-bottom: 1px solid #e5e5e5;
}
.b_dtl_C_name
{
  font-size: 16px;
}
.my-card
{
  border: 1px solid #eee;
  border-radius: 5px;
  box-shadow: 2px 2px 10px -3px #ebebeb;
  background: #fff;
}
.my-card-head
{
  border-bottom: 1px solid #eee;
  padding: 4px 10px;
  font-weight: 500;
}
.my-card-body
{
  
}
.booking_inner_dtl_h
{
  padding: 4px 10px;
  font-size: 12px;
  font-weight: 500;
}
.booking_inner_dtl_b
{
  padding: 4px 10px;
  font-size: 12px;
}
.bdr-btm-eee
{
  border-bottom: 1px solid #eee;
}
.bdr-left-eee
{
  border-left: 1px solid #eee;
}
.bdr-right-eee
{
  border-right: 1px solid #eee;
}
.highlight-changes{
  font-weight: bold;
  background-color: #e0e2e6;
}
.mul-booking-card
{
  padding: 10px 10px;
  background: #f8f8f8;
  border-radius: 5px;
}
.mul_booking_heading
{
  text-align: left;
}
.mul_booking_date
{
  text-align: right;
}
.mul-booking-card-inner-head
{
  font-size: 12px;
}
.services-name
{
  font-weight: bold;
  color: #ffb900;
}
.booking-docs-preview
{
  background: #fff;
  border: 1px solid #eee;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 10px -3px #ebebeb;
}
.booking-docs-preview-img
{
  height: 100%;
  width: 60px;
  position: relative;
  border-radius: 5px;
  margin: 0 auto;
  overflow: hidden;
  cursor: pointer;
}
.booking-docs-preview-img img
{
  width: 60px;
  height: 60px;
  object-fit: contain;
  object-position: center center;
  border-radius: 5px;
  position: relative;
  transition: 0.5s;
  transform-origin: center center;
}
.booking-docs-preview-text
{
  text-align: center;
  font-size: 12px;
  margin-top: 10px;
}
.booking-docs-preview-text p
{
  text-align: center;
}
.booking-docs-preview
{
  padding: 10px ;
}
/************BookingList Page Css End*************/
