.form-control{
    border: 1px solid #ffb900 !important;
}
.form-select{
    border: 1px solid #ffb900 !important;
}
.form-check-input:checked{
    background-color: #ffb900 !important;
}
.swal2-container{
    z-index: 10000000 !important;
}
.btn-primary{
    --tblr-btn-bg: #ffb900 !important;;
    --tblr-btn-hover-color: #ffb900 !important;;
}
.btn-primary:hover{
background-color: #f6df9f !important;
}
.rupees-sym{
    background-color: #ffb900;
    display: flex;
    align-items: center;
    padding: 0px 20px;
    border-radius: 0px 5px 5px 0px;
}
.css-13cymwt-control{
    border: 1px solid #ffb900 !important;
}
.hr-1
{
    width: 100%;
    height: 1px;
    background: #ccc;
    margin: 10px 0px;
}
.hr-2
{
    width: 100%;
    height: 1px;
    background: #e4e4e4;
    margin: 9px 0px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

/* Firefox */
input[type=number] {
-moz-appearance: textfield;
}
.form-control:focus,.form-select:focus {
    color: inherit;
    background-color: var(--tblr-bg-forms);
    border-color: #dee8b5 !important;
    outline: 0;
    box-shadow: 0 0 transparent, 0 0 7px -2px #b6b6b6 !important;
}

.details-payment .form-hint
{
    background: #e7e7e7;
    padding: 2px 8px;
    margin: 4px 0;
    color: rgb(63, 66, 21);
    display: inline-block;
    border-radius: 4px;
}
.uploaded-filename-main
{
    padding: 4px 8px;
    border-radius:4px ;
    background: #fff;

}
.uploaded-fileItem
{
    margin-right: 8px;
    background: #fff3d2;
    font-size: 10px;
    padding: 2px 6px;
    border-radius: 5px;
    margin-bottom: 3px;
    margin-top: 3px;
}
.fileItem-dlt-btn
{
    width: 18px;
    height: 18px;
    line-height: 9px;
    text-align: center;
    border-radius: 100px;
    margin-left: 6px;
    background: #ffb4b4;
    border: none;
    padding: 0;
}
.close-icon
{
    height: 10px !important;
    width: auto !important;
}

.error-border:focus{
    color: inherit;
    background-color: var(--tblr-bg-forms);
    border-color: #d66c6c !important;
    outline: 0;
    box-shadow: 0 0 transparent, 0 0 7px -2px #ffb6b6 !important;
}
.error-border{
    color: inherit;
    
    border-color: #d66c6c !important;
    outline: 0;
    box-shadow: 0 0 transparent, 0 0 7px -2px #ffb6b6 !important;
}

.item-act{
    background-color: #f2f2f2 !important;
}
select:focus, input:focus, textarea:focus
{
    outline: none !important;
}