.form-control{
    border: 1px solid #ffb900 !important;
}
.form-select{
    border: 1px solid #ffb900 !important;
}
.form-check-input:checked{
    background-color: #ffb900 !important;
}
.swal2-container{
    z-index: 10000000 !important;
}
.btn-primary{
    --tblr-btn-bg: #ffb900 !important;;
    --tblr-btn-hover-color: #ffb900 !important;;
}
.btn-primary:hover{
background-color: #f6df9f !important;
}
.rupees-sym{
    background-color: #ffb900;
    display: flex;
    align-items: center;
    padding: 0px 20px;
    border-radius: 0px 5px 5px 0px;
}
.css-13cymwt-control{
    border: 1px solid #ffb900 !important;
}
.hr-1
{
    width: 100%;
    height: 1px;
    background: #ccc;
    margin: 10px 0px;
}
.hr-2
{
    width: 100%;
    height: 1px;
    background: #e4e4e4;
    margin: 9px 0px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

/* Firefox */
input[type=number] {
-moz-appearance: textfield;
}
.form-control:focus,.form-select:focus {
    color: inherit;
    background-color: var(--tblr-bg-forms);
    border-color: #dee8b5 !important;
    outline: 0;
    box-shadow: 0 0 transparent, 0 0 7px -2px #b6b6b6 !important;
}

.details-payment .form-hint
{
    background: #e7e7e7;
    padding: 2px 8px;
    margin: 4px 0;
    color: rgb(63, 66, 21);
    display: inline-block;
    border-radius: 4px;
}
.uploaded-filename-main
{
    padding: 4px 8px;
    border-radius:4px ;
    background: #fff;

}
.uploaded-fileItem
{
    margin-right: 8px;
    background: #fff3d2;
    font-size: 10px;
    padding: 2px 6px;
    border-radius: 5px;
    margin-bottom: 3px;
    margin-top: 3px;
}
.fileItem-dlt-btn
{
    width: 18px;
    height: 18px;
    line-height: 9px;
    text-align: center;
    border-radius: 100px;
    margin-left: 6px;
    background: #ffb4b4;
    border: none;
    padding: 0;
}
.close-icon
{
    height: 10px !important;
    width: auto !important;
}

.error-border:focus{
    color: inherit;
    background-color: var(--tblr-bg-forms);
    border-color: #d66c6c !important;
    outline: 0;
    box-shadow: 0 0 transparent, 0 0 7px -2px #ffb6b6 !important;
}
.error-border{
    color: inherit;
    
    border-color: #d66c6c !important;
    outline: 0;
    box-shadow: 0 0 transparent, 0 0 7px -2px #ffb6b6 !important;
}

.item-act{
    background-color: #f2f2f2 !important;
}
select:focus, input:focus, textarea:focus
{
    outline: none !important;
}
.editField
{
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 9;
    cursor: pointer;
    color: #ffb900;
}

.RemarkCard
{
    padding: 8px 12px;
    margin: 0px 0px 12px 0px;
    border: 1px solid #fff1cb;
    box-shadow: 1px 1px 5px -4px #ffb900;
    border-radius: 9px;
    background: #fffde9;
}

.reamrk-card-innerText
{
    text-transform: capitalize;
    color: #000;
}
.card-dateTime
{
    font-size: 10px;
    margin-top: 16px;
    color: #826607;
}

.dlticon svg 
{
    width: 14px !important;
}
.dlticon
{
    width: 20px;
    height: 20px;
    border-radius: 150px;
    background: #ffd7d7;
    display: flex;
    align-items: center;
    justify-content: center;
}
.remarks-content {
    max-height: 236px;
    overflow-y: scroll !important;
    margin: 0px 0px 22px 0;
    cursor: pointer;
    padding: 12px 12px 12px 12px;
    background: #fbfbfb;
    border-radius: 10px;
    border: 1px solid #eee;
}
a
{
    text-decoration: none;
}
.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 96% !important;
}
tr:hover{
    background: #eee;
}
tr:focus{
    background: #eee;
}
.tr-sticky
{
    position: sticky;
    top: -1px;
    z-index: 99;
    background: #f2f2f2;
}
.th-sticky
{
    position: sticky;
    left: 0px;
    top: 0px;
    z-index: 99;
    border-right: 1px solid #eee !important;
    box-shadow: 1px 1px 10px 42px #000 !important;
    background: #f2f2f2;
}
.th-sticky1
{
    position: sticky;
    left: 52px;
    top: 0px;
    z-index: 99;
    border-right: 1px solid #eee !important;
    box-shadow: 1px 1px 10px 42px #000 !important;
    background: #f2f2f2;
}
.td-sticky
{
    position: sticky;
    left: 0px;
    top: auto;
    z-index: 98;
    background: white;
    border-right: 1px solid #eee !important;
    box-shadow: 1px 1px 10px 42px #000 !important;
}
.td-sticky1
{
    position: sticky;
    left: 52px;
    top: auto;
    z-index: 98;
    background: white;
    border-right: 1px solid #eee !important;
    box-shadow: 1px 1px 10px 42px #000 !important;
}
tr:hover .td-sticky
{
    background: #eee !important;
    z-index: 98;
}
tr:hover .td-sticky1
{
    background: #eee !important;
    z-index: 98;
}
.pagination button
{
    padding: 0px 0px 5px 0px;

}
pre
{
    background:none !important;
    color: #000 !important;
    font-size: 14px;
    padding: 0px;
}
.no_badge
{
    width: fit-content;
    padding: 2px 5px;
    color: #000;
    background: #ffb900;
    margin-left: 8px;
    font-weight: bold;
    font-size: 10px;
    border-radius: 100px;
}
th{
    padding: 4px 10px !important;
}
.login-card
{
    width: 400px;
    margin: 0 auto;
}
.my-tab .nav-fill .nav-item .nav-link {
    justify-content: center;
    padding: 4px 10px;
}