

.css-78trlr-MuiButtonBase-root-MuiIconButton-root
{
  padding: 6px !important;
}
.css-1bw0nnu-MuiStep-root
{
    padding-left: 0px  !important; 
    padding-right: 0px !important;
}
.css-j5w0w9-MuiStepConnector-root
{
  margin-left: 8px;
}
.MuiStep-root
{
  padding: 0px !important;
  margin: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-active , .MuiButton-textPrimary{
    color: #ffba00 !important;
}
.mydatepickerinput input
{
    padding: 10px 10px !important;
    font-size: 12px !important;
}
.MuiDateRangeCalendar-root > div:first-child
{
    display: none;
}