

.css-78trlr-MuiButtonBase-root-MuiIconButton-root
{
  padding: 6px !important;
}
.css-1bw0nnu-MuiStep-root
{
    padding-left: 0px  !important; 
    padding-right: 0px !important;
}
.css-j5w0w9-MuiStepConnector-root
{
  margin-left: 8px;
}
.MuiStep-root
{
  padding: 0px !important;
  margin: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-active , .MuiButton-textPrimary{
    color: #ffba00 !important;
}
.mydatepickerinput input
{
    padding: 10px 10px !important;
    font-size: 12px !important;
}
.MuiDateRangeCalendar-root > div:first-child
{
    display: none;
}

/* .days input {
  height: 40px;
  width: 80px;
  text-align: center;
}

.custom-calendar .curr-month {
  display: flex;
  justify-content: space-between;
}

.custom-calendar .curr-month .prev-btn span{
  border: none;
  width: 100px;
  background-color: aliceblue;
} */
 /* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #eee transparent;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

*::-webkit-scrollbar-thumb {
  background: #747474  !important;
  border-radius: 10px;
  border: 1px solid #ffffff;
}

/* Track */
::-webkit-scrollbar-track {
  background: #4d4d4d !important;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: #868686 !important;
}
